@import 'variables.scss';


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    height: 40px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $base-font-sans-serif;
    color: $base-text-color;
    background: none;
    border: 1px solid $form-element-border-color;
    outline: 0 none;
    padding: 10px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
}
textarea {
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $base-font-sans-serif;
    color: $base-text-color;
    background: none;
    border: 1px solid $form-element-border-color;
    outline: 0 none;
    padding: 10px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
}
/* placeholder input*/
input:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input::-webkit-input-placeholder {color:$placeholder-color;}
/* input:focus placeholder */
input:focus:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input:focus::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input:focus::-webkit-input-placeholder {color:$placeholder-color;}
/* placeholder  textarea*/
textarea:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea::-webkit-input-placeholder {color:$placeholder-color;}
/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea:focus::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea:focus::-webkit-input-placeholder {color:$placeholder-color;}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
}