@import 'variables.scss';

.adv-actions-list {
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 33px;
    left: 8px;
    width: 1px;
    border-left: 1px dashed #BDC6D7;

    @media (min-width: 768px) {
      bottom: 50px;
    }

    @media (min-width: 1200px) {
      left: 29px;
    }
  }

  @media (min-width: 768px) {
    font-size: 17px;
  }

  @media (min-width: 1200px) {
    padding-left: 21px;
  }

  li {
    padding: 0 0 19px 39px;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: $white;
      border: 5px solid $purple;
      position: absolute;
      top: 5px;
      left: 0;
    }

    @media (min-width: 768px) {
      padding: 0 0 35px 39px;
    }
  }
}

.checkmarck-list {
  line-height: 1.65;
  margin-right: -5px;

  @media (min-width: 768px) {
    line-height: 1.65;
    margin-right: 0;
  }

  li {
    position: relative;
    padding: 0 0 21px 40px;

    @media (min-width: 768px) {
      padding: 0 0 37px 37px;
    }

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      left: 2px;
      background: url("../images/circle-checkmark.svg") 50% 50% no-repeat;
      background-size: contain;

      @media (min-width: 768px) {
        left: -1px;
      }
    }
  }
}

.contact-list {
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: $font-size-base;
  }
  li {
    display: flex;
    align-items: center;
    margin: 0 0 11px;

    .icon {
      margin: 0 13px 0 0;
    }
  }

  a {
    color: $base-text-color;

    &:hover {
      color: $base-link-color;
    }
  }
}

.post-info-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  margin: 0 -12px;

  @media (min-width: 768px) {
    font-size: $font-size-base;
  }

  li {
    display: flex;
    align-items: center;
    padding: 0 12px 10px;
  }

  .icon {
    margin: 0 9px 0 0;
  }
}

.steps-list {
  text-align: center;
  line-height: 1.6;
  font-size: 15px;
  position: relative;
  padding: 4px 0 60px;

  &.secondary {
    @media (min-width: 1024px) {
      padding-bottom: 207px;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 16px 185px 12px;
    font-size: 15px;
  }

  li {
    width: 256px;
    margin: 0 auto 56px;
    position: relative;

    &:first-child {
      &:before {
        width: 269px;
        height: calc(100% + 63px);
        right: -155px;
        top: 59px;
        background-image: url('../images/step-mob-1.svg');

        @media (min-width: 1024px) {
          width: calc((100% - 364px)/2);
          max-width: 464px;
          height: 203px;
          left: 166px;
          right: auto;
          top: -15px;
          background-image: url('../images/step-desktop-1.svg');
        }
      }
    }

    &:nth-child(2) {
      &:before {
        width: 206px;
        height: calc(100% + 140px);
        left: -101px;
        top: -12px;
        background-image: url('../images/step-mob-2.svg');

        @media (min-width: 1024px) {
          width: calc((100% - 352px)/2);
          max-width: 457px;
          height: 161px;
          right: 167px;
          left: auto;
          top: -6px;
          background-image: url('../images/step-desktop-2.svg');
        }
      }
    }

    &:nth-child(3) {
      &:before {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    @media (min-width: 1024px) {
      width: 274px;
      margin: 0;
      padding: 0 15px;
      position: static;
    }
  }

  .step-number {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    color: $light-purple;
    background: $light-gray;
    font-size: 11px;
    font-weight: 700;
    padding: 9px 14px;
    border-radius: 13px;
    letter-spacing: 1px;
    margin: 0 0 21px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 21px;
      height: 10px;
      bottom: -9px;
      left: calc(50% - 10px);
      background: url("../images/bg-triangle.svg") no-repeat 50% 50%;
      background-size: contain;
    }

    @media (min-width: 1024px) {
      margin: 0 0 28px;
    }
  }

  .circle {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: $white;
    border: 5px solid $purple;
    margin: 0 auto 17px;

    @media (min-width: 1024px) {
      margin: 0 auto 31px;
    }
  }

  .step-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 0 19px 23px;
    line-height: 1.4;
  }
}

.caption + .steps-list {
  @media (min-width: 1024px) {
    margin-top: -19px;
  }
}

.tile-list {
  font-size: $md-size-base;
  line-height: 1.7;
  margin: 0 -9px;
  padding: 33px 0 72px;
  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1.75;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
  }

  @media (min-width: 1338px) {
    padding: 0 0 132px;
    align-items: flex-start;
    margin: 0;
  }

  li {
    background: $light-gray;
    border-radius: 18px;
    padding: 34px 24px 20px;
    margin: 0 0 23px;
    text-align: center;
    min-height: 339px;

    &:first-child {
      @media (min-width: 1338px) {
        margin: 211px 28px 0 0;
      }
    }

    &:nth-child(2) {
      @media (min-width: 1338px) {
        margin: 6px 25px 0 0;
      }
    }

    &:nth-child(3) {
      @media (min-width: 1338px) {
        margin: -93px 30px 0 0;
      }
    }

    &:nth-child(4) {
      @media (min-width: 1338px) {
        margin: -177px 27px 0 326px;
      }
    }

    &:nth-child(5) {
      @media (min-width: 1338px) {
        margin: -273px 27px 0 0;
      }
    }
    &:nth-child(6) {
      @media (min-width: 1338px) {
        margin: -438px 0 0 0;
      }
    }

    @media (min-width: 768px) {
      text-align: left;
      width: calc(33.33% - 28px);
      min-height: 346px;
      padding: 20px 15px;
      margin: 0 7px 20px;
    }

    @media (min-width: 1338px) {
      width: 300px;
      padding: 40px 12px 20px 33px;
      margin: 0 14px 29px;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    margin: 0 0 18px;

    @media (min-width: 768px) {
      margin: 0 0 36px;
      justify-content: flex-start;
    }
  }

  .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 22px;
    line-height: 1.4;
    @media (min-width: 768px) {
      font-size: 17px;
      padding: 0 0 21px;
    }
  }

  p {
    margin: 0;
  }
}

.logo-list {
  text-align: center;
  &.has-right-indent {
    @media (min-width: 1024px) {
      margin-right: 5%;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1024px) {
    margin: 3px -18px 0;
    width: 68.5%;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px 19px;

    @media (min-width: 1024px) {
      padding: 0 15px;
    }

    img {
      @media (max-width: 767px) {
        width: 86%;
      }
    }
  }
}

.articles-category-list {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: 0 -8px;
  padding: 0 0 37px;

  @media (min-width: 768px) {
    font-weight: $base-font-weight;
    margin: 0 -10px;
    padding: 0 0 64px;
  }

  @media (min-width: 1024px) {
    overflow: hidden;
    margin: 0 -25px;
  }

  li {
    padding: 0 8px;
    white-space: nowrap;

    &:first-child {
      &.active {
        margin-left: -15px;

        @media (min-width: 1024px) {
          margin-left: 0;
        }
      }
    }

    &.active {
      a {
        color: $base-link-color;
        background: $light-gray;
        font-weight: 500;
        padding: 6px 15px;

        @media (min-width: 768px) {
          padding: 13px 23px;
        }
      }
    }

    @media (min-width: 768px) {
      padding: 0 10px;
    }

    @media (min-width: 1024px) {
      padding: 0 24px 0 25px;
    }
  }

  a {
    display: block;
    color: $base-text-color;
    border-radius: 35px;
    transition: color $animation-speed, background $animation-speed;

    &:hover {
      color: $base-link-color;
    }
  }
}

.container {
  .articles-category-list {
    @media (max-width: 1023px) {
      margin-right: -29px;
    }
  }
}

.post-category-list {
  text-transform: uppercase;
  color: $purple;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 0 -8px;

  @media (min-width: 768px) {
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    background: #F8F8FF;
    border-radius: 2em;
    padding: 6px 11px;
    margin: 0 4px 5px;
    @media (min-width: 768px) {
      padding: 2px 11px;
    }
  }
}

.pagination-list {
  display: flex;
  align-items: center;
  color: #8191AF;
  font-weight: 500;
  padding: 0 31px;

  @media (min-width: 768px) {
    font-size: $font-size-base;
  }

  li {
    padding: 7px 13px;
    border-radius: 4px;

    &.active {
      font-weight: 700;
      color: $purple;
      background: #F9FAFF;
    }

    @media (min-width: 768px) {
      padding: 2px 11px;
    }
  }

  a, span {
    color: inherit;

    &:hover {
      color: $purple;
    }
  }
}

.ordered-list {
  counter-reset: counter;
  font-weight: 700;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 13px;
  }

  ol {
    padding: 3px 0 3px 12px;
    font-weight: $base-font-weight;

    @media (min-width: 768px) {
      padding: 1px 0 0 13px;
    }

    li {
      padding: 0 0 1px;
    }
  }

  >li {
    counter-increment: counter;
    padding: 0 0 8px;

    &:before {
      content: counters(counter, '.') '.';
      border-bottom: 1px solid rgba($purple, 0.2);
      padding: 0 3px 3px 0;
    }
  }

  span {
    border-bottom: 1px solid rgba($purple, 0.2);
    padding: 0 0 3px;
  }
}

.bullet-list {
  padding: 0 0 39px;
  letter-spacing: 0.5px;

  @media (min-width: 768px) {
    padding: 8px 0 46px;
  }

  li {
    position: relative;
    padding: 0 0 7px 18px;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 1px;
      width: 5px;
      height: 5px;
      background: $light-red;
      border-radius: 2px;
      transform: rotate(-45deg);

      @media (min-width: 768px) {
        top: 14px;
        left: 3px;
      }
    }

    @media (min-width: 768px) {
      padding: 0 0 2px 21px;
    }
  }
}

.content-list {
  padding: 0 0 7px;

  @media (min-width: 768px) {
    padding: 14px 0 5px;
  }

  li {
    padding: 0 0 16px;

    @media (min-width: 768px) {
      padding: 0 0 13px;
    }
  }

  .lead {
    display: block;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 17px;
    }
  }
}

.share-list {
  margin: 0 -25px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    margin: 0 -6px;
  }

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 3px 6px;
  }

  a {
    color: $base-text-color;
    font-size: 13px;
    display: flex;
    align-items: center;
    background: $light-gray;
    border-radius: 7px;
    padding: 2px 10px 2px 4px;
    transition: background $animation-speed;

    &:hover {
      background: darken($light-gray, 3%);
    }

    @media (min-width: 768px) {
      font-size: 17px;
    }
  }

  .icon {
    margin: 0 7px 0 0;
    @media (min-width: 768px) {
      width: 22px;
      height: 22px;
    }
  }
}

.tile-centered-list {
  font-size: $md-size-base;
  line-height: 1.7;
  margin: 0 -9px;
  padding: 4px 0 101px;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.75;
    margin: 0 -7px;
  }

  @media (min-width: 1338px) {
    padding: 0 0 126px;
    margin: 0;
  }

  li {
    background: $light-gray;
    border-radius: 18px;
    padding: 34px 24px 20px;
    margin: 0 0 23px;
    text-align: center;
    min-height: 339px;

    @media (min-width: 768px) {
      text-align: left;
      width: calc(33.33% - 28px);
      min-height: 346px;
      padding: 20px 15px;
      margin: 0 7px 20px;
    }

    @media (min-width: 1338px) {
      width: 300px;
      padding: 40px 12px 20px 33px;
      margin: 0 14px 29px;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    margin: 0 0 18px;

    @media (min-width: 768px) {
      margin: 0 0 36px;
      justify-content: flex-start;
    }
  }

  .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 22px;
    line-height: 1.4;
    @media (min-width: 768px) {
      font-size: 17px;
      padding: 0 0 21px;
    }
  }

  p {
    margin: 0;
  }
}

.format-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px 34px;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    margin: 0;
  }

  li {
    background: #F8F8FF;
    border-radius: 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px;
    padding: 28px 26px 27px;
    width: 100%;

    &:first-child {
      @media (max-width: 767px) {
        order: 3;
      }
    }

    &:nth-child(2) {
      @media (max-width: 767px) {
        order: 1;
      }
    }

    &:nth-child(3) {
      @media (max-width: 767px) {
        order: 2;
      }
    }

    @media (min-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
      width: calc(33.33% + 28px);
      margin: 0 14px 10px;
      padding: 20px;
      min-height: 382px;
    }
  }

  .text-box {
    padding: 4px 0 0 39px;
    @media (min-width: 768px) {
      padding: 0 0 42px;
      text-align: center;
    }
  }

  .icon-box {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 198px;
      max-width: 216px;
      width: 100%;
    }

    img{
      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }

  .bage {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    font-weight: 500;
    background: $white;
    padding: 3px 10px;
    border-radius: 20px;
    color: $purple;
    margin: 0 0 3px;

    &.green {
      @media (min-width: 768px) {
        color: #37CF86;
      }
    }

    @media (min-width: 768px) {
      padding: 3px 16px;
      margin: 0 0 10px;
    }
  }

  .title {
    display: block;
    font-weight: 500;
    font-size: 17px;
    @media (min-width: 768px) {
      font-size: 23px;
    }
  }
}

.list-has-icon {
  line-height: 1.5;
  li {
    padding: 0 0 21px 58px;
    position: relative;

    @media (min-width: 768px) {
      padding: 0 0 25px 63px;
    }
  }

  .icon-box {
    position: absolute;
    top: 0;
    left: -7px;
  }

  .text-box {
    padding: 10px 0 0;
    color: #8191AF;
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 13px;
    }
  }

  .title {
    display: block;
    font-weight: 500;
    color: $base-text-color;
    font-size: 15px;
    padding: 0 0 7px;
    @media (min-width: 768px) {
      font-size: 15px;
    }
  }

  p {
    margin: 0;
  }
}