// vertical align el
// usage: @include flex-horizontal-align;
//
@mixin flex-horizontal-align {
  display: flex;
  align-items: center;
}

// vertical align el
// usage: @include flex-central-align;
//
@mixin flex-central-align {
  display: flex;
  align-items: center;
  justify-content: center;
}