/* Slick slider styles */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
  .slick-initialized & {
    display: block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  display: flex;
  align-items: center;

  li {
    cursor: pointer;
    padding: 4px;
    border-radius: 100%;
    margin: 0 5px;
    background: transparent;
    transition: background $animation-speed, border-color $animation-speed;

    &.slick-active,
    &:hover {
      background: $purple;

      button {
        background: $white;
      }
    }

    @media (min-width: 768px) {
      padding: 5px;
      margin: 0 6px;
    }
  }

  button {
    display: block;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
    overflow: hidden;
    width: 4px;
    height: 4px;
    background: $base-text-color;
    border-radius: 100%;

    @media (min-width: 768px) {
      width: 6px;
      height: 6px;
    }
  }
}

.slick-arrow {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  outline: none;
  border: none;
  background-color: $dark-purple;
  width: 53px;
  height: 53px;
  background-position: 50% 50%;
  background-size: 22px 18px;
  background-repeat: no-repeat;
  transition: background-color $animation-speed;

  &.slick-prev {
    background-image: url("../images/arrow-white-left.svg");
  }
  &.slick-next  {
    background-image: url("../images/arrow-white-right.svg");
  }

  &:hover {
    background-color: $purple;
  }
}