// Colors
$purple: #5A4BC9;
$dark-purple: #221C55;
$light-purple: #687897;
$lighter-purple: #8191AF;
$black: #000;
$white: #fff;
$light-blue: #39f;
$light-red: #F07255;
$light-gray: #F6F7FD;
$medium-gray: #BDC6D7;
$green: #008985;

$base-font-sans-serif: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;

// Body
$base-text-color: $dark-purple !default;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.8 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: normal;

$md-size-base: 16px;
$md-line-height-base: 1.9;

$base-min-width: 320px;

// Liks
$base-link-color: $purple;

// Buttons
$btn-color: $white !default;
$btn-background: $light-red !default;
$btn-padding: 5px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $light-gray !default;
$form-element-focus-border-color: $light-gray !default;
$placeholder-color: $light-purple !default;

// Headers
$h1-font-size: 24px !default;
$h2-font-size: 24px !default;
$h3-font-size: 19px !default;
$h4-font-size: 16px !default;
$h5-font-size: 13px !default;
$h6-font-size: 12px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;

$animation-speed: 0.3s;

$overlay-bg: rgba(0,0,0,0.3);