@import 'variables.scss';
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  margin: 0;
  color: $base-text-color;
  background: $base-background-color;
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  min-width: $base-min-width;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  &.nav-active {
    overflow: hidden;
  }

  @media (min-width: 768px) {
    font-size: $md-size-base;
    line-height: $md-line-height-base;
  }
}

/*	   general reset   	*/
* {
  scroll-behavior: auto;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul li,
ol li {
  vertical-align: top;
}

input, select, textarea {
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

figure {
  margin: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button, a {
  cursor: pointer;
}

// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: $headings-color;
  line-height: 1.25;

  .caption & {
    text-align: center;
  }
}

h1, .h1 {
  font-size: $h1-font-size;
  margin: 0 0 26px;
  @media (min-width: 768px) {
    font-size: 37px;
    margin: 0 0 25px;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 1.3;
  margin: 0 0 17px;

  &.small-h2 {
    @media (min-width: 768px) {
      font-size: 34px;
    }
  }

  @media (min-width: 768px) {
    font-size: 37px;
    line-height: 1.47;
    margin: 0 0 24px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: 29px;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  margin: 0 0 22px;
  line-height: 1.7;
  letter-spacing: -0.2px;
  @media (min-width: 768px) {
    font-size: 25px;
    letter-spacing: -0.35px;
    line-height: 1.55;
    margin: 0 0 39px;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 25px;
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color $animation-speed;

  &:hover,
  &:focus {
    color: $base-text-color;
  }
}

p {
  margin: 0 0 24px;
}

strong,
b {
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.resize-active * {
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*	   wrapper   	*/
#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 29px;
}

.hidden-tablet {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.hidden-desktop {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.visible-tablet {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.visible-desktop {
  @media (max-width: 1023px) {
    display: none !important;
  }
}

.visible-widescreen {
  @media (max-width: 1199px) {
    display: none !important;
  }
}

.primary-color {
  color: $purple;
}

main, #main {
  &.has-border {
    border-top: 1px solid #DCE5F4;
  }
}

.caption {
  text-align: center;
  padding: 0 0 27px;

  &.has-side-indent {
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (min-width: 768px) {
    padding: 0 0 84px;
  }

  p {
    margin: 0 0 15px;
    line-height: 1.75;

    @media (min-width: 768px) {
      letter-spacing: 0.5px;
      margin: 0 0 3px;
    }
  }

  .small-text {
    @media (min-width: 768px) {
      font-size: 15px;
      letter-spacing: 0;
    }
  }

  h2 + .small-text {
    @media (min-width: 768px) {
      margin-top: -11px;
    }
  }
}
.mob-centered {
  @media (max-width: 767px) {
    text-align: center;
  }
}

/*	   main   	*/
#main {
  width: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  color: $btn-color;
  background: $btn-background;
  padding: 12px 21px;
  font-size: $font-size-base;
  font-weight: 500;
  border-radius: 2em;
  transition: opacity $animation-speed;

  &:hover {
    opacity: 0.7;
    color: $btn-color;
  }

  &.lg-btn {
    font-size: 15px;
    font-weight: 700;
    padding: 16px 24px 15px;
    min-width: 221px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 18px 42px 17px;
      font-size: 17px;
    }
  }

  &.has-shadow {
    box-shadow: 0 9px 33px rgba(255, 123, 87, 0.5);
  }

  &.md-btn {
    font-size: 15px;
    font-weight: 700;
    padding: 17px 25px;

    @media (min-width: 768px) {
      padding: 19px 25px;
      font-size: 16px;
    }
  }

  &.green {
    background: $green;
  }

  &.purple {
    background: $purple;
  }

  &.dark-purple {
    background: $dark-purple;
  }

  &.has-arrow {
    border: 1px solid $medium-gray;
    background: transparent;
    color: $base-text-color;

    &:after {
      @media (min-width: 768px) {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 12px;
        margin: 0 0 3px 11px;
        background: url("../images/arrow.svg") 50% 50% no-repeat;
        background-size: contain;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 12px 21px;
  }
}

.text-btn {
  outline: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  color: $dark-purple;
  background: none;
  border: none;
  padding: 0;
  font-weight: 500;
  transition: color $animation-speed;

  &:hover {
    color: $purple;
  }
}

.btn-has-triangle {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 16px;
  color: $base-link-color;
  text-decoration: none;
  outline: none;
  padding: 0;
  border: none;
  background: transparent;
  transition: color $animation-speed;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    background-color: $white;
    background-image: url('../images/triangle.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 9px 9px;
    box-shadow: 0 14px 22px rgba(202, 199, 223, 0.25);
    border-radius: 100%;
    margin: 0 9px 0 0;
  }

  &:hover {
    color: $base-text-color;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.search-btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  border-radius: 100%;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  background-image: url('../images/search-icon.svg');
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background $animation-speed;

  &:hover {
    @media (min-width: 768px) {
      background-color: darken(#F8F8FF, 2%);
    }
  }

  @media (min-width: 768px) {
    background-color: #F8F8FF;
    background-size: 20px 20px;
    width: 51px;
    height: 51px;
  }
}

.popup-holder {

  &.popup-active {
    .popup {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media (min-width: 768px) {
    position: relative;
  }

  .opener {
    cursor: pointer;
  }

  .popup {
    display: block !important;

    @media (min-width: 768px) {
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      min-width: 245px;
      box-shadow: 0 18px 50px rgba(94, 101, 140, 0.15);
      border-radius: 14px;
      padding: 22px 21px;
      opacity: 0;
      pointer-events: none;
      z-index: 1;
      background: $white;
      transition: opacity $animation-speed;
    }

    li + li {
      padding: 11px 0 0;

      @media (min-width: 1024px) {
        padding: 14px 0 0;
      }
    }
  }
}

.banner {
  background: $light-gray;
  border-radius: 23px;
  padding: 26px 20px 49px;
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
  margin: 0 -10px 77px;

  &.main-banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 573px;
    text-align: center;
    position: relative;
    line-height: 1.6;
    padding: 41px 20px 20px;
    margin: 0 -10px 129px;

    &:before {
      content: '';
      position: absolute;
      left: -36px;
      right: -35px;
      bottom: -106px;
      top: 0;

      background: url("../images/Mobile_bg.svg") 50% 50% no-repeat;

      @media (min-width: 768px) {
        left: -48px;
        right: -36px;
        top: 46px;
        bottom: -79px;
        background-size: contain;
        background: url("../images/main-banner-bg.svg") 50% 50% no-repeat;
      }
    }

    @media (min-width: 768px) {
      min-height: 693px;
      padding: 20px 20px 58px;
      line-height: 1.8;
      margin: 0 0 142px;
    }

    @media (min-width: 1200px) {
      padding: 20px 20px 58px;
    }

    h1 {
      @media (min-width: 768px) {
        font-size: 44px;
      }
    }

    .banner-text {
      max-width: 750px;
      position: relative;
    }
  }

  &.inner-banner {
    .banner-holder {
      .img-col {
        margin: 5px -8px 10px -5px;
        @media (min-width: 1200px) {
          margin: -23px 49px 0 0;
          width: 47.1%;
        }
      }

      .banner-text-col {
        @media (max-width: 1023px) {
          padding: 0 8px;
        }

        h1 {
          @media (max-width: 1023px) {
            margin-bottom: 35px;
          }
        }

        p {
          @media (max-width: 1023px) {
            margin-bottom: 22px;
          }
        }
      }
    }

    .checkmarck-list {
      @media (min-width: 1200px) {
        margin-top: 7px;
      }
    }
  }

  &.billboard-banner {
    .banner-holder {
      .img-col {
        margin: -2px -1px 35px -5px;
        @media (min-width: 1200px) {
          margin: -30px 22px 0 0;
          width: 47.8%;
        }
      }

      .banner-text-col {
        @media (max-width: 1023px) {
          padding: 0 8px;
        }

        @media (min-width: 1024px) {
          max-width: 540px;
        }

        h1 {
          @media (max-width: 1023px) {
            margin-bottom: 35px;
          }
        }

        p {
          @media (max-width: 1023px) {
            margin-bottom: 22px;
          }
        }
      }
    }

    .checkmarck-list {
      @media (min-width: 1200px) {
        margin: 23px -30px 0;
      }
    }
  }

  @media (min-width: 768px) {
    border-radius: 38px;
    font-size: 17px;
    line-height: 1.8;
    margin: 0 0 159px;
    padding: 62px 20px 66px;
    text-align: left;
  }
  @media (min-width: 1200px) {
    padding: 82px 20px 66px 110px;
  }

  p {
    margin: 0 0 45px;
    letter-spacing: 0.03px;
    @media (min-width: 768px) {
      margin: 0 0 62px;
      letter-spacing: 0;
    }
  }

  .checkmarck-list {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    width: 235px;
    @media (min-width: 768px) {
      width: auto;
      margin: 0;
    }
    @media (min-width: 1024px) {
      font-size: 17px;
    }

    @media (min-width: 1200px) {
      margin: -23px -30px 0;
    }

    li {
      padding-bottom: 16px;
      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 0;
        margin: 0 5px;
        padding-left: 27px;
      }
      @media (min-width: 1024px) {
        margin: 0 10px;
        padding-left: 37px;
      }

      @media (min-width: 1200px) {
        margin: 0 30px;
      }
    }
  }

  .banner-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 0 49px;

    @media (min-width: 768px) {
      padding: 0 0 30px;
      flex-direction: row;
    }
  }
}

.main-banner-buttons {
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .btn-label {
    display: block;
    padding: 0 0 8px;
    font-weight: 500;
    letter-spacing: -0.7px;

    @media (min-width: 768px) {
      font-size: 15px;
      padding: 0 0 17px;
      letter-spacing: 0;
    }
  }

  .btn {
    margin: 0 0 15px;
    min-width: 262px;

    @media (min-width: 768px) {
      margin: 0;
      min-width: 274px;
    }
  }

  .either {
    display: inline-block;
    padding: 0 8px 19px 10px;
    color: $light-purple;
    font-size: 15px;
  }
}

.banner-holder {
  @media (min-width: 1024px) {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .img-col {
    margin: 0 -17px 8px -52px;
    @media (min-width: 768px) {
      margin: 0;
      text-align: center;
    }
    @media (min-width: 1024px) {
      width: 50%;
      text-align: left;
    }
    @media (min-width: 1200px) {
      width: 55%;
    }
  }

  .banner-text-col {
    padding: 0 10px;
    @media (min-width: 1024px) {
      flex: 1 0;
      max-width: 470px;
      padding: 45px 0 0;
    }

    h1 {
      margin: 0 0 28px;

      @media (min-width: 1024px) {
        margin: 0 0 38px -4px;
      }
    }
  }

  .btn {
    min-width: 221px;
    margin: 0 0 31px;

    @media (min-width: 768px) {
      margin: 0 32px 0 0;
    }
  }

  img {
    @media (min-width: 1024px) {
      width: 100%;
    }
  }
}

.blog-caption {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 0 20px;

  &.selected-article {
    padding: 23px 0 21px;
    @media (min-width: 768px) {
      padding: 47px 0 32px
    }
  }

  @media (min-width: 768px) {
    padding: 64px 0 32px
  }

  h1, .h1,
  h2, .h2 {
    margin: 0;
    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .article-subtitle {
    display: block;
    font-weight: 500;
    line-height: 1;
    padding: 0 0 3px;

    @media (min-width: 768px) {
      font-size: 17px;
      padding: 0;
      line-height: 1;
    }
  }

  .search-box {
    margin: 0 -3px 3px 10px;

    @media (min-width: 768px) {
      margin: 0 0 -6px 10px;
    }
  }
}

.search-box {
  &.popup-holder {
    position: relative;

    &.popup-active {
      input[type="search"],
      input[type="text"] {
        border-color: #F8F8FF;
        &:focus {
          transform: translateX(0);
          width: 100%;
        }
      }

      .popup {
        width: 340px;
      }
    }

    .opener {
      position: relative;
      z-index: 2;
    }

    .popup {
      padding: 0;
      box-shadow: none;
      right: -16px;
      left: auto;
      top: calc(50% - 28px);
      font-size: 13px;
      min-width: 0;
      position: absolute;
      width: 0;
      transition: width $animation-speed;

      @media (min-width: 768px) {
        width: 174px;
        top: 0;
        right: 1px;
        font-size: 13px;
        opacity: 1;
        pointer-events: auto;
        transition: width $animation-speed;
      }
    }
  }

  input[type="search"],
  input[type="text"] {
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    height: 50px;
    width: 100%;
    border: 1px solid transparent;
    padding: 5px 40px 5px 15px;
    border-radius: 2em;
    transition: width $animation-speed, transform $animation-speed;

    &:focus {
      border-color: #F8F8FF;
      @media (min-width: 768px) {
        width: 300px;
        transform: translateX(-125px);
      }
    }

    @media (min-width: 768px) {
      height: 51px;
      padding: 5px 60px 5px 20px;
    }
  }
}

.blog-layout {
  @media (min-width: 1024px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content {
    @media (min-width: 1024px) {
      width: 66.5%;
      max-width: 845px;
    }
  }

  .aside {
    margin: 0 0 14px;
    @media (min-width: 1024px) {
      width: 32%;
      max-width: 411px;
      margin: 0 0 0 15px;
    }
  }
}

.post-block {
  padding: 0 0 54px;

  @media (min-width: 768px) {
    font-size: $font-size-base;
    line-height: 2;
    padding: 0 0 51px;
  }

  .img-preview {
    height: 182px;
    width: 100%;
    border-radius: 21px;
    margin: 0 0 27px;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
      height: 420px;
      margin: 0 0 39px;
      border-radius: 28px;
    }
  }

  .heading {
    padding: 0 0 11px;
    @media (min-width: 768px) {
      display: flex;
      flex-flow: column-reverse nowrap;
      padding: 0 0 17px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 1.5;

    @media (min-width: 768px) {
      font-size: 26px;
    }

    a {
      color: $base-text-color;
      transition: opacity $animation-speed;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  p {
    max-width: 636px;
    margin: 0 0 30px;
  }
}

.post-info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  .post-info-list {
    margin: 0 -8px;
    @media (min-width: 768px) {
      margin: 0 -15px;
    }

    li {
      padding: 0 10px;
      @media (min-width: 768px) {
        padding: 0 16px;
      }
    }

    .icon {
      @media (min-width: 768px) {
        margin: 0 13px 0 0;
      }
    }
  }
}

.rate-block {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  @media (min-width: 768px) {
    padding: 0 0 0 31px;
  }

  .title {
    font-size: 15px;
    font-weight: 700;
  }

  .rate-amount {
    font-size: 12px;
    color: #7D7A94;
    padding: 2px 0 0;
  }

  .rating {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    padding: 0 0 0 6px;

    @media (min-width: 768px) {
      padding: 0 8px 0 6px;
    }
  }

  .rating-0 {
    filter: grayscale(100%);
  }

  .rating > input {
    display: none;
  }

  .rating > label {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0 1px;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .3s;

    @media (min-width: 768px) {
      margin: 0 3px;
    }
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url('../images/star-fill.svg');
  }

  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url('../images/star-fill.svg');
  }
}

.subscribe-block {
  border-radius: 23px;
  background: $light-gray;
  padding: 49px 22px;
  line-height: 1.6;
  text-align: center;
  color: $light-purple;

  @media (min-width: 768px) {
    font-size: $font-size-base;
    padding: 55px 39px;
  }

  h3 {
    color: $base-text-color;
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 25px;

    @media (min-width: 768px) {
      font-size: 22px;
      margin: 0 0 18px;
    }
  }

  p {
    @media (min-width: 768px) {
      margin: 0 0 40px;
    }
  }

  input[type='email'] {
    background: $white;
    border: 1px solid #E6E4FA;
    border-radius: 6px;
    outline: none;
    padding: 5px 5px 5px 57px;
    margin: 0 0 18px;
    height: 54px;
    font-size: 15px;
    background-image: url("../images/letter.svg");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 15px 50%;

    @media (min-width: 768px) {
      font-size: 15px;
      background-position: 18px 50%;
      padding: 5px 5px 5px 61px;
    }
  }

  .btn {
    width: 100%;
    font-weight: 500;
    padding: 17px 21px;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 16px;
      padding: 17px 21px;
    }
  }
}

.blog-caption-search {
  padding: 34px 0 17px;

  @media (min-width: 768px) {
    padding: 57px 0 35px;
  }

  .search-row {
    position: relative;
    margin: 0 0 29px;

    @media (min-width: 768px) {
      margin: 0 0 56px;
    }

    input[type="search"],
    input[type="text"] {
      width: 100%;
      background: #F8F8FF;
      border-radius: 11px;
      outline: none;
      border: none;
      font-size: 15px;
      font-weight: 700;
      height: 54px;
      padding: 5px 40px 5px 55px;
      color: $base-text-color;

      @media (min-width: 768px) {
        height: 84px;
        font-size: 27px;
        border-radius: 2em;
        padding: 5px 65px 5px 81px;
      }
    }
  }

  .btn-reset,
  .btn-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: opacity $animation-speed;

    &:hover {
      opacity: 0.7;
    }
  }

  .btn-search {
    width: 23px;
    height: 23px;
    background-image: url('../images/search-icon.svg');
    background-color: transparent;
    background-size: contain;
    left: 15px;

    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
      left: 28px;
    }
  }

  .btn-reset {
    border-radius: 100%;
    width: 22px;
    height: 22px;
    background-color: $white;
    background-image: url('../images/cross.svg');
    background-size: 9px 9px;
    right: 13px;

    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
      background-image: url('../images/cross-thin.svg');
      background-size: 14px 14px;
      right: 21px;
    }
  }
  .search-result {
    font-size: 15px;
    @media (min-width: 768px) {
      font-size: 19px;
    }
  }
}

.breadcrumb {
  padding: 18px 0 20px;

  @media (min-width: 768px) {
    font-size: $font-size-base;
    line-height: 1.4;
    padding: 55px 0 45px;
  }

  li {
    display: inline-block;
    vertical-align: top;

    &:before {
      content: '';
      vertical-align: middle;
      width: 6px;
      height: 6px;
      margin: 0 10px 0 9px;
      background: url("../images/triangle-dark.svg") no-repeat 50% 50%;
      background-size: contain;
      display: none;
    }

    a, span {
      border-bottom: 1px solid $light-red;
      padding: 0 0 3px;

      @media (min-width: 768px) {
        padding: 0;
      }
    }
  }

  li + li {
    &:before {
      display: inline-block;
    }
  }

  a {
    color: $base-text-color;
  }
}

.article-caption {
  padding: 0 0 20px;

  @media (min-width: 768px) {
    padding: 0 0 57px;
  }

  h1 {
    font-size: 22px;
    margin: 0 0 16px;

    @media (min-width: 768px) {
      font-size: 38px;
      margin: 0 0 20px;
    }
  }

  .post-info-list {
    margin: 0 -10px;
    @media (min-width: 768px) {
      margin: 0 -15px;
    }

    li {
      @media (min-width: 768px) {
        padding: 0 15px;
      }
    }
  }

  .rate-block {
    @media (min-width: 1200px) {
      padding: 0 0 0 73px;
    }

    .rating {
      @media (min-width: 768px) {
        padding: 0 8px 0 11px;
      }
    }
  }
}

.article-img {
  height: 210px;
  margin: 0 -29px 43px;
  overflow: hidden;
  position: relative;

  @media (min-width: 768px) {
    margin: 0 0 73px;
    height: 504px;
    border-radius: 28px;
  }
}

.bg-strech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
  }
}