@import 'variables.scss';


/*	   footer   	*/
#footer {
	width:100%;
	overflow: hidden;
	line-height: 1.4;
	padding: 22px 0 37px;

	@media (min-width: 768px) {
		border-top: 1px solid #DCE5F4;
		font-size: $font-size-base;
		padding: 68px 0;
		line-height: 1.2;
	}

	.container {
		padding: 0 20px;
		@media (min-width: 768px) {
			padding: 0 28px;
		}
	}

	.top-section {
		padding: 0 0 49px;
		@media (min-width: 1024px) {
			display: flex;
			align-items: flex-start;
			padding: 0 0 68px;
		}

		.large-col {
			@media (min-width: 768px) {
				flex: 1 0;
				display: flex;
				align-items: flex-start;
			}
		}
	}

	.bottom-section {
		text-align: center;
		color: $light-purple;

		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 13px;
		}

		.address-row {
			text-align: center;
			color: $base-text-color;
			padding: 0 0 7px;
			.name {
				font-weight: 500;
				padding: 0 0 2px;
				display: block;
			}
		}
	}

	.logo-col {
		@media (min-width: 768px) {
			flex-shrink: 0;
			width: 28.9%;
			padding: 0 15px 0 0;
			margin-top: -10px;
		}
	}

	.logo {
		@media (min-width: 768px) {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 24px -4px;
		}
	}

	.company-name {
		display: block;
		font-weight: 500;
		padding: 0 0 5px;
	}

	address {
		font-style: normal;
	}

	.list-holder {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 0 0 38px;
		margin: 0 -15px;

		@media (min-width: 768px) {
			flex-wrap: nowrap;
			margin: 0;
		}

		@media (min-width: 1024px) {
			padding: 0;
		}

		.list-col {
			width: 148px;
			margin: 0 15px;

			@media (min-width: 1024px) {
				width: 170px;
			}

			@media (min-width: 1200px) {
				width: 189px;
			}
		}
	}

	.small-col {
		border-top: 1px solid #DCE5F4;
		padding: 44px 0 0;
		@media (min-width: 1024px) {
			border-top: none;
			padding: 0;
		}
	}

	.contact-row {
		text-align: center;
		padding: 0 0 20px;

		@media (min-width: 1024px) {
			text-align: right;
			display: flex;
			align-items: flex-start;
			padding: 0 0 26px;
		}

		.icon {
			margin: 0 0 9px;

			@media (min-width: 1024px) {
				margin: 4px 18px 0 0;
			}
		}

		.title {
			font-weight: 600;
			font-size: 15px;
			display: block;
			padding: 0 0 15px;
		}
	}

	.footer-contact-list {
		@media (min-width: 1024px) {
			text-align: right;
		}

		li {
			padding: 1px 0 2px;
		}
	}

	.tel {
		font-size: 17px;
		font-weight: 700;
		color: $base-text-color;

		&:hover {
			color: $base-link-color;
		}
	}
	.email {
		font-size: 15px;
		color: $base-link-color;

		&:hover {
			color: $base-text-color;
		}

		@media (min-width: 1024px) {
			font-size: $font-size-base;
		}
	}

	.social-networks {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 -3px;
		@media (min-width: 1024px) {
			justify-content: flex-end;
		}

		li {
			padding: 0 4px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				background:  #f8faff;
				width: 31px;
				height: 31px;
				border-radius: 9px;
				transition: background $animation-speed;

				&:hover {
					background: darken(#f8faff, 5%);
				}

				@media (min-width: 768px) {
					width: 28px;
					height: 28px;
					border-radius: 8px;
				}
			}
		}
	}
}

.footer-title {
	font-size: $md-size-base;
	font-weight: 700;
	display: block;
	padding: 0 0 23px;

	@media (min-width: 768px) {
		font-size: 15px;
		padding: 0 0 27px;
	}
}

.footer-list {
	font-size: 15px;
	@media (min-width: 768px) {
		font-size: $font-size-base;
	}

	li {
		padding: 0 0 18px;

		&:last-child {
			padding-bottom: 2px;
		}

		@media (min-width: 768px) {
			padding: 0 0 21px;
		}
	}

	a {
		color: $base-text-color;

		&:hover {
			color: $purple;
		}
	}
}
.footer-bottom-list {
	display: flex;
	flex-direction: column-reverse;
	padding: 27px 0 0;
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		flex-direction: row;
		padding: 0 0 0 10px;
	}

	li {
		padding: 0 0 7px;
		&:before {
			@media (min-width: 768px) {
				content: '';
				vertical-align: middle;
				width: 3px;
				height: 3px;
				border-radius: 100%;
				background: $medium-gray;
				margin: 0 8px;
				display: none;
			}
		}

		@media (min-width: 768px) {
			padding: 0;
		}
	}

	li + li {
		&:before {
			@media (min-width: 768px) {
				display: inline-block;
			}
		}
	}

	a {
		color: $light-purple;

		&:hover {
			color: $purple;
		}
	}
}