@import 'variables.scss';


/*	   header   	*/
#header {
  width: 100%;
  color: $dark-purple;
  padding: 18px 0 13px;

  @media (min-width: 1024px) {
    padding: 27px 0 24px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    @media (min-width: 1024px) {
      padding: 0 30px;
    }
  }

  a {
    color: inherit;
  }

  .logo {
    position: relative;
    z-index: 2;

    @media (min-width: 1024px) {
      margin-left: -4px;
    }
  }

  .menu {
    font-size: 17px;
    font-weight: 500;

    @media (min-width: 1024px) {
      font-weight: $base-font-weight;
      font-size: $font-size-base;
      display: flex;
      align-items: center;
      margin: 0 -25px;
    }

    >li {
      padding: 7px 0 8px;

      &.active {
        a {
          text-shadow: 0 0 1px $dark-purple;
          &:after {
            @media (min-width: 1024px) {
              transform: scale(1);
            }
          }
        }
      }

      @media (min-width: 1024px) {
        padding: 0 15px;
      }
      @media (min-width: 1200px) {
        padding: 0 19px;
      }
    }

    a {
      position: relative;

      &:after {
        @media (min-width: 1024px) {
          content: '';
          position: absolute;
          bottom: -41px;
          left: 0;
          right: 0;
          height: 3px;
          background: $purple;
          border-radius: 2em 2em 0 0;
          transform: scale(0);
          transition: transform $animation-speed;
        }
      }

      &:hover {
        text-shadow: 0 0 1px $dark-purple;
        &:after {
          @media (min-width: 1024px) {
            transform: scale(1);
          }
        }
      }

      @media (min-width: 1024px) {
        padding: 0 6px;
      }
    }
  }

  .popup-holder {
    > a {
      &:after {
        display: none;
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }
    .opener {
      display: none;

      &:before {
        @media (min-width: 1024px) {
          content: '';
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 12px 0 0;
          background: url(../images/menu-drop-icon.svg) 50% 50% no-repeat;
          background-size: contain;
        }
      }
      @media (min-width: 1024px) {
        display: block;
        position: relative;
      }
    }

    .popup {
      font-size: $font-size-base;
      font-weight: $base-font-weight;

      @media (max-width: 1023px) {
        position: static;
        padding: 32px 0;
        opacity: 1;
        pointer-events: auto;
        box-shadow: none;
      }

      a {
        &:hover {
          color: $base-link-color;
          text-shadow: none;
        }
        &:after {
          display: none;
          @media (min-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }

  .registration-buttons {
    display: flex;
    align-items: center;
    font-size: $font-size-base;
    padding: 0 0 4px;

    @media (min-width: 1024px) {
      padding: 0;
    }

    .btn {
      font-weight: 500;
      margin: 0 0 0 19px;

      @media (min-width: 1024px) {
        margin: 0 0 0 26px;
        background: $dark-purple;
        font-size: $font-size-base;
      }
    }
  }

  .nav-menu-buttons {
    text-align: center;
    padding: 22px 0 0;

    @media (min-width: 1024px) {
      display: none;
    }

    p {
      margin: 0;
    }

    .btn {
      font-size: 15px;
      padding: 16px 34px;
      margin: 0 0 15px;
    }
  }

  .btn {
    box-shadow: none;
    padding: 9px 15px;
    @media (min-width: 768px) {
      padding: 12px 21px;
    }
  }
}

.nav-opener {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
  margin: 0 0 0 22px;
  &:before,
  &:after {
    content:'';
    position: absolute;
    height: 3px;
    background: #221C55;
    left: 7%;
    border-radius: 2em;
  }

  &:before {
    right: 7%;
    top: 40%;
  }

  &:after {
    right: 47%;
    top: 62%;
  }

  .nav-active & {
    position: absolute;
    top: 20px;
    right: 6px;

    &:before,
    &:after {
      top: 50%;
      height: 2px;
      right: 25%;
      left: 25%;
      background: $dark-purple;
    }

    &:before {
      transform: rotate(45deg);

    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: 1024px)  {
    display: none;
  }
}

#nav {
  padding: 0 10px;
  @media (min-width: 1200px) {
    padding-right: 12%;
  }

  .menu-holder {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: -9999px;
    background:$base-background-color;
    padding: 89px 20.5% 25px;
    z-index: 1;

    @media (max-width: 1023px) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      overflow-y: auto;
    }

    @media (min-width: 1024px) {
      position: static;
      height: auto;
      padding: 0;
      background: transparent;
    }
  }
}

body.nav-active {
  #nav {
    .menu-holder {
      left: 0;
    }
  }
}