@import 'variables.scss';
@import 'mixins.scss';

.mob-check-tabs {
  padding: 2px 0 61px;
  margin: 0 -6px;
  text-align: center;
  line-height: 1.6;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    margin: 0 -14px;
    padding: 6px 0 286px;
    line-height: 1.6;
  }

  input[type="radio"] {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
  }

  .radio-tab-label {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 10px;
    margin: 0 6px;
    min-width: 150px;
    border-radius: 11px;
    cursor: pointer;
    font-weight: 500;
    color: $purple;
    transition: color $animation-speed, background $animation-speed, box-shadow $animation-speed;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .radio-tab-label + .radio-tab-label {
    margin-left: 5px;
  }

  input[type="radio"]:checked + .radio-tab-label {
    color: $base-text-color;
    background: $white;
    box-shadow: 0 12px 36px rgba(94, 101, 140, 0.15);
  }

  .col {
    @media (min-width: 768px) {
      width: 50%;
      margin: 0 14px;
    }
  }

  .tab-content {
    padding: 53px 27px 0;
    display: none;
    width: 100%;

    @media (min-width: 768px) {
      display: block !important;
      background: $light-gray;
      border-radius: 30px;
      margin: 0 0 28px;
      padding: 0 30px 32px;
    }

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }

  p {
    margin: 0 0 37px;
    @media (min-width: 1024px) {
      margin: 0 0 67px;
    }
  }

  #radio-tab1:checked ~ .col .tab-content.webmasters {
    display: block;
  }
  #radio-tab1:checked ~ .col .tab-content.advertisers {
    display: none;
  }
  #radio-tab2:checked ~ .col .tab-content.advertisers {
    display: block;
  }
  #radio-tab2:checked ~ .col .tab-content.webmasters {
    display: none;
  }

  .icon {
    width: 159px;
    height: 159px;
    margin: 0 auto -20px;

    img {
      margin-top: -64px;
    }
  }

  h3, .h3 {
    margin: 0 0 17px;

    @media (min-width: 768px) {
      margin: 0 0 27px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 25px;
    }
  }

  .adv-actions-list {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
  }
}

.circle-row {
  padding: 0 0 105px;

  &.secondary {
    @media (min-width: 768px) {
      flex-direction: row-reverse;
      align-items: center;
    }

    @media (min-width: 1200px) {
      padding: 0 4% 167px 0;
      margin: 0 0 0 -16px;
    }

    .text-col {
      @media (min-width: 768px) {
        padding: 0 0 0 3%;
      }
      @media (min-width: 1024px) {
        padding: 67px 0 0 11.2%;
      }
    }

    .circle-col {
      width: 385px;
      height: 398px;
      margin: 0 -30px 0 -11px;
      @media (min-width: 768px) {
        margin: 0;
      }

      @media (min-width: 1024px) {
        width: 531px;
        height: 537px;
      }
    }

    .circle {
      &.circle-1 {
        top: 0;
        left: 1%;
        padding: 11px 0 0;

        @media (min-width: 1024px) {
          left: 16.3%;
          padding: 0;
        }
      }

      &.circle-2 {
        bottom: 21.5%;
        right: 0;
        @media (min-width: 1024px) {
          bottom: 100px;
          right: 56px;
        }
      }

      &.circle-3 {
        bottom: 3px;
        left: 54px;
        padding: 0;
        @media (min-width: 1024px) {
          bottom: 0;
          left: 0;
        }
      }

      &.circle-4 {
        top: -13px;
        right: 4%;

        @media (min-width: 1024px) {
          top: 61px;
          right: 0;
        }
      }

      &.circle-5 {
        top: 43%;
        left: 16.6%;
      }

      &.circle-6 {
        bottom: 19px;
        right: 18.5%;

        @media (min-width: 1024px) {
          bottom: 33px;
          right: 24.5%;
        }
      }

      &.large {
        strong {
          @media (min-width: 1024px) {
            font-size: 34px;
            padding: 0 0 9px;
          }
        }
      }

      &.medium {
        strong {
          @media (min-width: 1024px) {
            font-size: 35px;
            padding: 0 0 9px;
          }
        }
      }

      &.empty-circle-sm {
        @media (max-width: 1023px) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    padding: 0 0 93px;
  }

  @media (min-width: 1200px) {
    padding: 0 5.5% 93px 8.55%;
  }

  .text-col {
    padding: 0 0 19px;
    @media (min-width: 768px) {
      flex: 1 0;
      padding: 0 15px 0 0;
    }

    h2 {
      text-align: center;
      margin: 0 0 39px;
      @media (min-width: 768px) {
        letter-spacing: -0.6px;
        margin: 0 0 64px;
        text-align: left;
      }
    }

    .primary-color {
      @media (max-width: 767px) {
        color: $base-text-color;
      }
    }

    .checkmarck-list {
      @media (min-width: 768px) {
        max-width: 460px;
      }
    }
  }

  .circle-col {
    position: relative;
    margin: 0 auto;
    width: 339px;
    height: 467px;
    @media (min-width: 1024px) {
      width: 516px;
      height: 470px;
    }
  }

  .circle {
    @include flex-central-align;
    flex-flow: column nowrap;
    border-radius: 100%;
    color: $white;
    font-weight: 500;
    line-height: 1.31;
    position: absolute;

    &.circle-1 {
      top: 0;
      left: 1%;

      @media (min-width: 1024px) {
        left: 22%;
      }
    }

    &.circle-2 {
      bottom: 21%;
      right: 0;
      @media (min-width: 1024px) {
        bottom: 57px;
      }
    }

    &.circle-3 {
      bottom: 0;
      left: 0;
    }

    &.circle-4 {
      top: 18px;
      right: 26%;

      @media (min-width: 1024px) {
        top: 16px;
        right: 24%;
      }
    }

    &.circle-5 {
      top: 120px;
      left: 6.5%;
      @media (max-width: 1023px) {
        display: none;
      }
    }

    &.circle-6 {
      bottom: 38px;
      right: 13.5%;

      @media (min-width: 1024px) {
        bottom: 5px;
        right: 32%;
      }
    }

    &.large {
      width: 247px;
      height: 247px;
      font-size: 16px;
      @media (min-width: 1024px) {
        width: 276px;
        height: 276px;
        font-size: 18px;
      }

      strong {
        font-size: 27px;
        padding-top: 18px;
        @media (min-width: 1024px) {
          font-size: 30px;
          padding-top: 26px;
        }
      }
    }

    &.medium {
      width: 198px;
      height: 198px;
      font-size: 15px;
      @media (min-width: 1024px) {
        width: 226px;
        height: 226px;
        font-size: 16px;
      }

      strong {
        font-size: 29px;
      }
    }

    &.small {
      width: 154px;
      height: 154px;
      font-size: 16px;
      padding: 0 0 10px;
      @media (min-width: 1024px) {
        width: 177px;
        height: 177px;
      }

      strong {
        padding: 0 0 2px;
        font-size: 33px;
      }
    }

    &.dark-purple {
      background: $dark-purple;
    }

    &.purple {
      background: $purple;
    }

    &.green {
      background: $green;
    }

    &.light-green {
      background: #42D49F;
    }

    &.gray {
      background: #DCE5F4;
    }

    &.light-red {
      background: $light-red;
    }

    &.yellow {
      background: #FFE589;
    }

    &.empty-circle-md {
      width: 44px;
      height: 44px;
      @media (min-width: 1024px) {
        width: 53px;
        height: 53px;
      }
    }

    &.empty-circle-sm {
      width: 35px;
      height: 35px;
    }

    &.empty-circle-xs {
      width: 25px;
      height: 25px;
    }

    strong {
      display: block;
      padding: 0 0 8px;
      font-weight: 700;
      width: 100%;
      text-align: center;

      @media (min-width: 1024px) {
        padding: 0 0 15px;
      }
    }

    span {
      display: block;
      text-align: center;
      max-width: 158px;
    }
  }
}

.tile-wrap {
  padding: 0 0 73px;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    padding: 0 0 174px;
  }

  .tile {
    background: $light-gray;
    border-radius: 19px;
    padding: 44px 10px 287px 32px;
    margin: 0 0 26px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      background: $white;
      border-radius: 100%;
      width: 376px;
      height: 376px;
      position: absolute;
      bottom: -122px;
      right: -87px;
      z-index: -1;

      @media (min-width: 1024px) {
        width: 576px;
        height: 576px;
        bottom: -188px;
        right: -121px;
      }
    }

    &.large {
      &:before {
        display: none;
      }

      @media (min-width: 768px) {
        width: 100%;
        min-height: 502px;
      }
    }

    &:first-child {
      img {
        right: -6px;
        @media (min-width: 1024px) {
          width: 459px;
          height: 365px;
          right: -1px;
        }
      }
    }

    &:nth-child(2) {
      img {
        right: -2px;
        @media (min-width: 1024px) {
          width: 451px;
          height: 399px;
          bottom: -39px;
          right: -4px;
        }
      }
    }

    &:nth-child(3) {
      padding-bottom: 273px;

      @media (min-width: 1024px) {
        padding-bottom: 0;
      }

      img {
        right: -65px;
        bottom: -13px;
        @media (min-width: 768px) {
          width: 430px;
          bottom: 0;
          right: 0;
        }

        @media (min-width: 1200px) {
          width: 594px;
          height: 440px;
          right: 85px;
        }
      }
    }

    @media (min-width: 768px) {
      width: calc(50% - 28px);
      margin: 0 14px 28px;
    }

    @media (min-width: 1024px) {
      padding: 73px 82px 0;
      border-radius: 30px;
      min-height: 702px;
    }
  }

  .subtitle {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: $light-purple;
    padding: 0 0 11px;
    font-weight: 700;
    letter-spacing: 0.9px;

    @media (min-width: 768px) {
      padding: 0 0 31px;
      font-size: 12px;
    }
  }

  h3 {
    max-width: 405px;
    line-height: 1.45;
    margin: 0 0 37px;

    @media (max-width: 767px){
      font-size: 23px;
      margin: 0 0 24px;
      line-height: 1.3;
    }
  }

  .tile-buttons {
    margin: 0 -4px;

    @media (min-width: 1024px) {
      margin: 0 -6px;
    }

    .btn {
      margin: 0 4px;

      @media (min-width: 1024px) {
        margin: 0 6px;
      }
    }
  }

  img {
    position: absolute;
    z-index: 2;
    max-width: none;
    bottom: 0;

    @media (min-width: 1024px) {
      bottom: -2px;
    }
  }

  .btn {
    &.has-arrow {
      background: $light-gray;
    }
  }
}

.testimonials-wrap {
  padding: 0 0 66px;
  @media (min-width: 1200px) {
    padding: 0 93px 85px;
  }

  h2 {
    line-height: 1.2;
    margin: 0 0 47px;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }

    @media (min-width: 1200px) {
      margin-left: 15px;
    }
  }

  .testimonials-frame {
    min-height: 400px;
    padding: 36px 0 0;
    position: relative;

    &:before {
      content: '';
      width: 494px;
      height: 393px;
      background-image: url("../images/bg-slider.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: -185px;

      @media (min-width: 768px) {
        width: 100%;
        height: 100%;
        left: -5%;
      }

      @media (min-width: 1024px) {
        width: 1085px;
        height: 882px;
        left: -360px;
      }
    }

    @media (min-width: 768px) {
      padding: 199px 0 0;
    }

    @media (min-width: 1024px) {
      min-height: 866px;
      padding: 199px 0;
    }
  }

  .slide-holder {
    width: 100%;

    @media (min-width: 768px) {
      padding: 0 15px;
    }

    @media (min-width: 1360px) {
      width: 650px;
      padding-right: 36%;
    }
  }

  .slick-current {

    .slide-holder {
      @media (min-width: 1360px) {
        padding-right: 20%;
      }
    }

    blockquote {
      p {
        @media (min-width: 1200px) {
          margin-right: 12%;
        }
      }
    }
  }

  blockquote {
    line-height: 1.7;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 15px;
      line-height: 1.9;
    }

    input[type="checkbox"] {
      position: fixed;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -1;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .dots {
      @media (min-width: 768px) {
        display: none;
      }
    }

    .show-more-label {
      display: inline;
      color: $purple;
      font-weight: 500;
      @media (min-width: 768px) {
        display: none;
      }

      &.opened-slide {
        display: none;
      }
    }

    input[type="checkbox"]:checked ~ p .show-more-label.opened-slide{
      display: block;
    }

    input[type="checkbox"]:checked ~ p .show-more-label.closed-slide,
    input[type="checkbox"]:checked ~ p .dots {
      display: none;
    }

    .mob-hidden-block {
      @media (max-width: 767px) {
        display: none;
      }
    }

    input[id*="show-more-slide-"]:checked ~ .mob-hidden-block {
      display: block;
    }
  }

  p {
    margin: 0 -1px 0 0;
    @media (min-width: 768px) {
      margin: 0 0 17px 0;
    }
  }

  cite {
    @include flex-horizontal-align;
    font-style: normal;
    line-height: 1.6;
    padding: 33px 0 0;
    @media (min-width: 768px) {
      font-size: 14px;
      padding: 50px 0 0;
    }

    .logo-box {
      @include flex-central-align;
      width: 62px;
      height: 62px;
      padding: 5px;
      border-radius: 16px;
      margin: 0 23px 0 0;

      @media (min-width: 768px) {
        width: 74px;
        height: 74px;
        margin: 0 29px 0 0;
      }
    }

    span {
      display: block;
    }

    .site {
      color: $light-red;
    }
  }

  .slick-arrow {
    position: absolute;
    top: -132px;
    &.slick-prev {
      left: 16px;
    }
    &.slick-next  {
      left: 81px;
    }
    @media (max-width: 767px) {
      display: none !important;
    }
  }

  .slick-dots {
    position: absolute;
    top: -49px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 768px) {
      top: -113px;
      left: 168px;
      transform: translateX(0);
    }
  }
}

.members-row {
  padding: 19px 0 26px;

  @media (min-width: 768px) {
    @include flex-central-align;
    padding: 0 0 110px;
  }

  .members-col {
    width: 217px;
    margin: 0 auto 55px;

    @media (min-width: 768px) {
      width: 300px;
      margin: 0 14px;
    }
  }

  .member-img {
    border-radius: 21px;
    overflow: hidden;
    margin: 0 0 34px;

    @media (min-width: 768px) {
      border-radius: 30px;
      margin: 0 0 40px;
    }

    img {
      width: 100%;
    }
  }

  .name {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: 28px;
      padding: 0 0 3px;
    }
  }

  .status {
    display: block;
    text-align: center;
    font-weight: 500;
    padding: 0 0 15px;

    &.active {
      color: #27C78D;
    }

    &.inactive {
      color: $light-red;
    }

    @media (min-width: 768px) {
      font-size: $font-size-base;
      padding: 0 0 23px;
    }
  }

  .contact-list {
    max-width: 217px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 190px;
    }
  }
}

.purple-banner {
  background-color: $dark-purple;
  background-image: url('../images/bg-2-mob.svg');
  background-repeat: no-repeat;
  background-position: 50% 32%;
  background-size: contain;
  color: $white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 537px;
  text-align: center;
  padding: 15px 0 41px;

  @media (min-width: 768px) {
    min-height: 730px;
    padding: 80px 0 15px;
    background-position: 45% 60%;
    background-size: auto;
    background-image: url('../images/bg2.svg');
  }

  @media (min-width: 1200px) {
    background-size: 86%;
  }

  .container {
    max-width: 530px;
    padding: 0 75px;
    @media (min-width: 768px) {
      padding: 0 29px;
    }
  }

  h2 {
    margin: 0 0 45px;
    @media (min-width: 768px) {
      margin: 0 0 46px;
    }
  }

  .btn {
    margin: 0 0 21px;

    @media (min-width: 768px) {
      margin: 0 0 30px;
    }
  }

  .help-text {
    display: block;
    color: $medium-gray;
    padding: 0 0 3px;

    @media (min-width: 768px) {
      font-size: 13px;
    }
  }

  .tel {
    @include flex-central-align;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: $font-size-base;
    }

    img {
      margin: 0 6px 0 0;
    }

    a {
      color: inherit;
    }
  }
}

.intro-blog {
  padding: 48px 0 78px;
  @media (min-width: 768px) {
    padding: 140px 0 103px;
  }
}

.caption-has-btn {
  padding: 0 0 30px;

  @media (min-width: 768px) {
    @include flex-horizontal-align;
    padding: 0 0 72px 9px;
  }

  h2 {
    margin: 0 0 5px;
    @media (min-width: 768px) {
      margin: 0;
      letter-spacing: -0.4px;
    }
  }

  .btn,
  .btn.has-arrow {

    &:after {
      @media (max-width: 767px) {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 12px;
        margin: 0 0 3px 11px;
        background: url("../images/arrow-purpule.svg") 50% 50% no-repeat;
        background-size: contain;
      }
    }

    @media (max-width: 767px) {
      color: $purple;
      border: none;
      padding: 0;
    }

    @media (min-width: 768px) {
      margin: 0 0 0 42px;
    }
  }
}

.post-frame {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  margin: 0 -29px 0 -11px;

  @media (min-width: 1024px) {
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 -14px;
  }
}

.post-preview {
  min-width: 290px;
  height: 388px;
  border-radius: 20px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 27px 35px;
  margin: 0 13px 31px;
  display: flex;
  align-items: flex-end;
  color: $white;

  &.has-overlay,
  &.has-blue-overlay{
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #0B2533 2.18%, rgba(3, 11, 16, 0) 73.06%);
    }
  }

  &.has-blue-overlay {
    &:before {
      background: linear-gradient(360deg, #1A445C 2.18%, rgba(3, 11, 16, 0) 72.07%);
    }
  }

  &.large {

    @media (min-width: 1024px) {
      max-width: 845px;
      width: calc(66.66% - 28px);
    }

    @media (min-width: 1200px) {
      padding: 39px 76px 39px 78px;
    }

    h3, .h3 {
      @media (min-width: 1024px) {
        font-size: 26px;
        max-width: 390px;
        margin: 0 0 44px;
      }
    }

    .post-info-list {
      margin: 0 -14px;

      @media (min-width: 768px) {
        margin: 0 -14px;
      }
    }

    .category {
      @media (min-width: 1024px) {
        margin-top: -3px;
      }
    }
  }

  @media (min-width: 1024px) {
    border-radius: 28px;
    max-width: 407px;
    height: 499px;
    width: calc(33.33% - 28px);
    padding: 54px 20px;
    margin: 0 14px 31px;
  }

  @media (min-width: 1200px) {
    padding: 54px 34px 54px 36px;
  }

  .post-info {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 40px 0 0;
  }

  h3, .h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 27px;
    @media (min-width: 768px) {
      font-size: 22px;
      line-height: 1.5;
      margin: 0 0 23px;
    }

    a {
      padding: 0 0 2px;
      border-bottom: 1px solid rgba($white, 0.3);
      transition: border-color $animation-speed;

      &:hover {
        border-color: transparent;
      }
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }

  .bottom-box {
    @media (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .category {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.6px;
    padding: 5px 10px 4px;
    text-align: center;
    min-width: 108px;
    background: #F8F8FF;
    border-radius: 20px;
    color: $purple;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: 1200px) {
      margin: 0 0 0 5px;
      position: static;
    }
  }
}

.sm-width {
  max-width: 800px;
  padding: 0 0 90px;
  line-height: 1.7;

  @media (min-width: 768px) {
    line-height: 1.7;
    padding: 0 0 41px;
  }

  h2 {
    @media (min-width: 768px) {
      font-size: 34px;
      letter-spacing: -0.6px;
      margin: 0 0 27px;
    }
  }

  h3 {
    margin: 0 0 15px;
    @media (min-width: 768px) {
      font-size: 20px;
      margin: 0 0 15px;
    }
  }

  p {
    @media (min-width: 768px) {
      margin: 0 0 26px;
    }
  }

  h2 + h3 {
    padding-top: 19px;
  }

  p + h2 {
    padding-top: 21px;
    @media (min-width: 768px) {
      padding-top: 36px;
    }
  }

  p + h3 {
    padding-top: 1px;
    @media (min-width: 768px) {
      padding-top: 13px;
    }
  }

  .checkmarck-list {
    padding: 9px 0 47px;

    @media (min-width: 768px) {
      padding: 14px 7% 73px 0;
    }

    li {
      padding-bottom: 16px;
      @media (min-width: 768px) {
        padding-bottom: 21px;
      }
    }
  }
}

.two-column-frame {
  text-align: center;
  padding: 26px 0 0;
  margin: 0 -3px;

  &.secondary {
    @media (min-width: 768px) {
      padding: 0 8px 80px;
    }

    .row {

      &:first-child {
        padding-bottom: 100px;
        @media (min-width: 1024px) {
          padding-bottom: 74px;
        }

        .col {
          &:first-child {
            @media (min-width: 1024px) {
              padding: 0 0 17px 93px;
            }
          }
          &:nth-child(2) {
            @media (min-width: 1024px) {
              padding-right: 5.5%;
            }

            .scroll-img {
              @media (max-width: 767px) {
                margin: 8px -102px 0 -2px;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        @media (min-width: 1024px) {
          padding-bottom: 52px;
        }

        .col {
          &:first-child {
            @media (min-width: 1024px) {
              padding: 0 0 34px 1px;
            }
          }
          &:nth-child(2) {
            @media (min-width: 1024px) {
              padding-left: 4.5%;
            }

            .scroll-img {
              @media (max-width: 767px) {
                margin: -38px -110px 0 5px;
              }
            }
          }
        }
      }

      &:nth-child(3) {

        .col {
          &:first-child {
            @media (min-width: 1024px) {
              padding:0 0 37px 54px;
            }
          }
          &:nth-child(2) {
            @media (min-width: 1024px) {
              margin: 0;
              width: 56.5%;
            }

            .scroll-img {
              @media (max-width: 767px) {
                margin: 4px -87px 0 78px;
              }
            }
          }
        }
      }
    }
  }

  &.billboard-page {
    padding: 0;

    .row {

      &:first-child {
        @media (max-width: 767px) {
          padding-bottom: 43px;
        }
      }
      &:nth-child(2) {
        @media (max-width: 767px) {
          padding-bottom: 2px;
        }
        @media (min-width: 1024px) {
          padding-bottom: 23px;
        }

        .img-frame {
          @media (max-width: 767px) {
            margin: 0 -11px 0 0;
          }
        }

        .col {
          &:first-child {
            @media (min-width: 768px) {
              padding: 8px 0 0;
            }
          }

          &:nth-child(2) {
            @media (min-width: 768px) {
              width: 50.2%;
            }
            @media (min-width: 1024px) {
              padding: 0 0 0 8.5%;
            }
          }
        }
      }
      &:nth-child(3) {
        @media (min-width: 1024px) {
          padding-bottom: 55px;
        }
        .img-frame {
          @media (max-width: 767px) {
            margin: 0 -16px 0 -21px;
          }
        }
        .col {
          &:first-child {
            @media (min-width: 768px) {
              padding: 8px 0 0;
            }
          }

          &:nth-child(2) {
            @media (min-width: 768px) {
              width: 40.5%;
              margin: 0 0 0 5%;
              justify-content: flex-start;
            }

            @media (min-width: 1024px) {
              padding-top: 75px;
            }
          }
        }
      }
      &:nth-child(4) {
        @media (min-width: 1024px) {
          padding-top: 73px;
        }
        .img-frame {
          @media (max-width: 767px) {
            margin: 0 17px 0 5px;
          }
        }
        .col {
          &:first-child {
            @media (min-width: 768px) {
              padding: 0;
            }
            @media (min-width: 1024px) {
              padding: 0;
            }
          }

          &:nth-child(2) {
            @media (min-width: 1024px) {
              width: 48.2%;
              padding: 0 0 0 9%;
            }
          }
        }
      }

      @media (max-width: 767px) {
        padding-bottom: 24px;
      }

      @media (min-width: 768px) {
        align-items: flex-start;
      }

      .img-frame {
        margin: 0 28px 0 4px;
      }

      .col {
        &:first-child {
          @media (min-width: 1024px) {
            padding-left: 0;
          }

          .img-frame {
            @media (min-width: 1024px) {
              margin: 0;
            }
          }
        }
        &:nth-child(2) {
          margin: 0;
          @media (max-width: 767px) {
            overflow-x: hidden;
          }

          @media (min-width: 1024px) {
            width: 49%;
            padding: 12px 0 0;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    text-align: left;
    padding: 15px 14px 75px;
    margin: 0;
    line-height: 1.8;
  }

  .row {
    padding: 0 0 45px;

    &:nth-child(2n) {
      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }

      .col {
        @media (min-width: 768px) {
          justify-content: flex-start;
        }
        &:first-child {
          @media (min-width: 1024px) {
            padding: 54px 0 0 3px;
          }
        }
        &:nth-child(2) {
          @media (min-width: 1024px) {
            padding: 0 0 0 36px;
          }
        }
      }
    }

    &:first-child {
      .col {
        &:nth-child(2) {
          @media (max-width: 767px) {
          }
        }
      }
    }

    &:nth-child(2) {
      padding-bottom: 76px;
      @media (min-width: 1024px) {
        padding-bottom: 101px;
      }

      .col {
        &:nth-child(2) {
          .scroll-img {
            @media (max-width: 767px) {
              margin: -11px 3px 0 -93px;
            }
          }
        }
      }
    }

    &:nth-child(3) {
      .col {
        &:first-child {
          @media (min-width: 1024px) {
            padding: 0 0 71px 46px;
          }
        }

        &:nth-child(2) {

          @media (min-width: 1024px) {
            width: 61.5%;
            margin: 0 -18px 0 0;
          }

          .scroll-img {
            @media (max-width: 767px) {
              margin: -20px -78px 0 -58px;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      padding: 0 0 84px;
    }

    .col {
      &:first-child {
        padding: 0 0 26px;
        @media (min-width: 768px) {
          flex: 1 0;
        }

        @media (min-width: 1024px) {
          padding: 0 0 91px 43px;
        }
      }
      &:nth-child(2) {
        margin: 0 -26px;

        @media (max-width: 767px) {
          overflow-x: auto;
        }

        @media (min-width: 768px) {
          width: 50%;
          margin: 0 15px;
        }

        @media (min-width: 1024px) {
          width: 59.8%;
          margin: 0;
        }
      }

      @media (min-width: 768px) {
        @include flex-central-align;
      }
    }
  }

  .text {
    font-size: 15px;
    @media (min-width: 768px) {
      max-width: 400px;
      font-size: 15px;
    }
  }
  .subtitle {
    display: block;
    color: $purple;
    text-transform: uppercase;
    padding: 0 0 9px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;

    @media (min-width: 768px) {
      letter-spacing: 2px;
      padding: 0 0 27px;
    }
  }
  h3, .h3 {
    line-height: 1.5;
    margin: 0 20px 22px;
    @media (min-width: 768px) {
      font-size: 28px;
      margin: 0 0 22px;
    }
  }

  .list-has-icon {
    max-width: 330px;
    padding: 19px 0 25px;
    text-align: left;
    @media (min-width: 768px) {
      padding: 29px 0 32px;
    }
  }
}

.format-tabs {
  text-align: center;
  margin: 0 0 -22px;

  &.secondary {
    margin: 0 0 -11px;
    @media (min-width: 1024px) {
      margin: 0;
    }

    .caption {
      padding: 0 0 25px;
      @media (min-width: 1024px) {
        padding: 0 0 28px;
      }
    }

    .format-tab-label {
      padding: 14px 26px;
      margin: 0 3px 5px;
      @media (min-width: 1024px) {
        padding: 18px 26px;
        margin: 0 14px;
        min-width: 137px;
      }
    }

    .tab-slide {
      padding-top: 45px;
      @media (min-width: 1024px) {
        padding-top: 45px;
      }
    }

    .top-block {
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }

  @media (min-width: 1024px) {
    margin: 0;
    background: linear-gradient(0deg, #F9FAFF 1.24%, rgba(249, 250, 255, 0) 107.05%);
  }

  .container {
    padding: 0 10px;

    @media (min-width: 1024px) {
      padding: 0 29px;
    }
  }

  .caption {
    padding: 0 19px 17px;

    @media (min-width: 1024px) {
      padding: 0 0 38px;
    }
  }

  input[type="radio"] {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
  }

  .format-tab-label {
    display: inline-block;
    vertical-align: top;
    color: $purple;
    padding: 22px 12px;
    border-radius: 14px;
    cursor: pointer;
    margin: 0 0 5px;
    line-height: 1.3;
    max-width: 119px;

    @media (min-width: 1024px) {
      border: 1px solid #DCE5F4;
      border-radius: 11px;
      margin: 0 14px;
      padding: 18px 26px;
      min-width: 242px;
      font-size: 17px;
      max-width: none;
    }
  }

  input[type="radio"]:checked + .format-tab-label {
    background: $white;
    box-shadow: 0 14.9199px 29.8399px rgba(90, 89, 163, 0.1);
    font-weight: 500;
    color: $base-text-color;
  }

  input[type="radio"]#format-tab-1:checked ~ .tab-content #video-player {
    display: block;
  }
  input[type="radio"]#format-tab-2:checked ~ .tab-content #video-block {
    display: block;
  }
  input[type="radio"]#format-tab-3:checked ~ .tab-content #video-library {
    display: block;
  }

  .tab-content {
    padding: 0 19px;
    @media (min-width: 768px) {
      background-image: url('../images/tabs-bg.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;

      @media (min-width: 1024px) {
        padding: 0;
        overflow: hidden;
      }
    }
  }

  .tab-slide {
    text-align: center;
    padding: 28px 0 0;
    display: none;

    @media (min-width: 1024px) {
      max-width: 600px;
      margin: 0 auto;
      padding: 53px 0 0;
    }

    .title {
      @include flex-central-align;
      font-weight: 500;
      font-size: 15px;
      padding: 0 0 11px;
      @media (min-width: 768px) {
        padding: 0 0 17px;
      }
    }
    .icon {
      @include flex-central-align;
      border-radius: 100%;
      width: 39px;
      height: 39px;
      background: #42D49F;
      margin: 0 8px 0 0;
    }
    
    .heading {
      display: block;
      font-size: 21px;
      font-weight: 500;
      padding: 0 0 16px;

      @media (min-width: 768px) {
        font-size: 21px;
        padding: 0 0 12px;
      }
    }
  }

  .top-block {
    max-width: 490px;
    margin: 0 auto 20px;
    @media (min-width: 768px) {
      font-size: 15px;
      margin: 0 auto 28px;
    }

    p {
      margin: 0;
    }
  }

  .bottom-block {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 -30px;

    @media (min-width: 1024px) {
      margin: 0 0 -160px;
    }

    .img-col {
      flex-shrink: 0;
      max-width: 398px;
      margin: 0 -44px;

      &.is-active {
        transform: translateY(0);
        position: relative;
        z-index: 2;
      }

      &:first-child {
        @media (min-width: 1024px) {
          margin-left: -46%;
        }
      }


      &:nth-child(2) {
        @media (min-width: 1024px) {
          margin: 0 -87%;
        }
      }


      &:nth-child(3) {
        @media (min-width: 1024px) {
          margin-right: -46%;
        }
      }

      @media (min-width: 1024px) {
        transform: translateY(96px);
        max-width: 661px;
      }

      img {
        width: 100%;
      }
    }
  }
}

.partner-logo-frame {
  padding: 0 0 48px;

  @media (min-width: 1024px) {
    padding: 87px 0 180px;
  }

  h3, .h3 {
    text-align: center;
    line-height: 1.4;
    margin: 0 0 20px;
    font-weight: 700;

    @media (min-width: 1024px) {
      text-align: left;
      font-size: 25px;
      font-weight: 500;
      line-height: 1.4;
      margin: 0;
    }

    .tiny-text {
      @media (min-width: 768px) {
        display: block;
        font-weight: normal;
        color: #757389;
        font-size: $md-size-base;
      }
    }
  }

  @media (min-width: 1024px) {
    @include flex-horizontal-align;
    justify-content: space-between;
  }
}

.accordion-frame {
  padding: 31px 0 24px;
  text-align: center;

  @media (min-width: 1024px) {
    text-align: left;
  }

  @media (min-width: 1200px) {
    padding: 55px 57px 99px;
  }

  .caption-has-btn {
    padding: 0 0 22px;

    @media (min-width: 768px) {
      padding: 0 0 45px 49px;
    }

    h2 {
      @media (min-width: 768px) {
        letter-spacing: 0;
      }
    }

    .btn,
    .btn.has-arrow {
      margin: 0;
      @media (min-width: 768px) {
        margin: 3px 0 0 32px;
      }
    }
  }

  .btn.has-arrow {
    @media (max-width: 767px) {
      border: none;
      padding: 0;
      color: $base-link-color;
      margin: 18px 0;
    }

    &:after {
      @media (max-width: 767px) {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 12px;
        margin: 0 0 3px 11px;
        background: url("../images/arrow-purpule.svg") 50% 50% no-repeat;
        background-size: contain;
      }
    }
  }

  input[type="checkbox"] {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
  }

  input[type="checkbox"]:checked + .accordion-row {
    background: $light-gray;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    @media (max-width: 767px) {
      padding-top: 29px;
    }
  }

  input[type="checkbox"]:checked + .accordion-row .accordion-opener {
    border-bottom: none;
    padding-bottom: 18px;

    &:after {
      opacity: 0;
    }

    @media (min-width: 768px) {
      color: $purple;
      padding-bottom: 21px;
    }
  }

  input[type="checkbox"]:checked + .accordion-row .slide {
    display: block;
  }
}

.accordion-row {
  text-align: left;
  line-height: 1.7;
  padding: 23px 19px 0;
  margin: 0 -29px;
  transition: background $animation-speed;

  &:last-of-type {
    .accordion-opener {
      border-bottom: none;
    }
  }
  @media (min-width: 768px) {
    padding: 31px 50px 0;
    border-radius: 23px;
    margin: 0;
    line-height: $md-line-height-base;
  }

  .accordion-opener {
    line-height: 1.4;
    display: block;
    font-size: 15px;
    padding: 0 30px 23px 0;
    font-weight: 500;
    border-bottom: 1px solid #EAEFF8;
    position: relative;
    cursor: pointer;
    transition: color $animation-speed;

    &:before,
    &:after {
      content: '';
      background: $base-text-color;
      position: absolute;
      border-radius: 2em;
    }

    &:before {
      width: 14px;
      height: 1px;
      right: 2px;
      top: 11px;

      @media (min-width: 768px) {
        height: 2px;
        width: 16px;
        top: 17px;
      }
    }

    &:after {
      height: 14px;
      top: 5px;
      width: 1px;
      right: 9px;
      transition: opacity $animation-speed;

      @media (min-width: 768px) {
        width: 2px;
        height: 16px;
        top: 10px;
      }
    }


    @media (min-width: 768px) {
      font-size: 20px;
      padding: 0 30px 33px 0;
    }
  }

  .slide {
    display: none;
    max-width: 645px;
    padding: 0 0 13px;
    margin: 0 0 2px;
    @media (min-width: 768px) {
      font-size: 15px;
      padding: 0 0 30px;
      margin: 0 0 4px;
    }
  }
}

.pagination-frame {
  @include flex-horizontal-align;
  justify-content: space-between;
  padding: 21px 0 32px;

  @media (min-width: 768px) {
    justify-content: flex-start;
    padding: 38px 0 30px;
  }
}

.pagination-btn {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: $base-link-color;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  line-height: 0;
  min-height: 17px;
  min-width: 27px;
  padding: 0;
  transition: opacity $animation-speed;

  &:hover {
    opacity: 0.7;
  }

  &.prev {
    background-image: url("../images/arrow-thin-left.svg");
    background-position: 0 50%;

    @media (min-width: 768px) {
      padding-left: 23px;
      background-image: url("../images/arrow-left.svg");
    }
  }

  &.next {
    background-image: url("../images/arrow-thin-right.svg");
    background-position: 100% 50%;

    @media (min-width: 768px) {
      padding-right: 18px;
      background-image: url("../images/arrow-right.svg");
    }
  }

  @media (min-width: 768px) {
    font-size: $font-size-base;
    font-weight: 500;
    line-height: $line-height-base;
    background-size: 12px 10px;
  }
}

.article-layout {
  @media (min-width: 1024px) {
    display: flex;
    align-items: flex-start;
  }

  .content {
    @media (min-width: 1024px) {
      flex: 1 0;
      border-right: 1px solid #E6E4FA;
      padding: 0 20px 0 0;
      margin:  0 0 75px;
    }

    @media (min-width: 1200px) {
      padding: 0 70px 0 0;
    }
  }

  .aside {
    display: flex;
    flex-flow: column-reverse nowrap;
    padding: 0 29px 6px;
    margin: 0 -29px 32px;
    border-bottom: 1px solid #DCE5F4;

    @media (min-width: 1024px) {
      display: block;
      width: 32%;
      max-width: 411px;
      margin: 0 0 0 20px;
      padding: 0;
    }
    @media (min-width: 1200px) {
      margin: 4px 0 0 65px;
    }

    .subtitle {
      text-align: center;
      padding: 0 0 34px;
      @media (min-width: 1024px) {
        text-align: left;
        padding: 0 0 42px;
      }
    }

    .additional-article {
      margin: 0 0 22px;

      @media (min-width: 1024px) {
        margin: 0 0 22px;
      }

      @media (min-width: 1024px) {
        padding: 0 0 44px;
        margin: 0;
      }

      @media (min-width: 1200px) {
        padding: 0 20px 44px 0;
      }

      .image {
        margin: 0 19px 0 0;
        @media (min-width: 768px) {
          width: 100px;
          height: 81px;
          margin: 0 31px 0 0;
        }
      }

      .title {
        padding: 3px 0 8px;

        @media (min-width: 768px) {
          padding: 0 0 8px;
        }

        a {
          color: $base-text-color;
          &:hover {
            color: $base-link-color;
          }
        }
      }
    }

    .aside-articles-frame {
      @media (min-width: 1024px) {
        padding: 0 0 52px;
      }
    }

    .subscribe-block {
      margin: 0 0 54px;
    }
  }

  .subtitle {
    display: block;
    font-weight: 500;
    font-size: $md-size-base;
  }
}

.main-article-text {
  border-bottom: 1px solid #E6E4FA;
  padding: 0 0 30px;

  h3 {
    font-size: 18px;
    max-width: 550px;
    line-height: 1.6;
    margin: 0 0 25px;
    @media (min-width: 768px) {
      font-size: 21px;
      margin: 0 0 20px;
    }
  }

  h4, .h4 {
    letter-spacing: -0.05px;
    font-size: 20px;
    width: 90%;
    line-height: 1.5;
    margin: 0 0 26px;

    @media (min-width: 768px) {
      margin: 0 0 18px;
      font-size: 25px;
      line-height: 1.7;
    }
  }

  p {
    @media (min-width: 768px) {
      margin: 0 0 19px;
    }
  }

  .lead-text {
    margin: 0 0 39px;
    @media (min-width: 768px) {
      margin: 0 0 60px;
    }
  }
}

.recommend-material {
  h3 {
    font-size: 18px;
    max-width: 550px;
    line-height: 1.6;
    @media (min-width: 768px) {
      font-size: 21px;
      margin: 0 0 44px;
    }
  }
}

.lead-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.9;
  margin: 0 0 39px;

  @media (min-width: 768px) {
    font-size: 18px;
    margin: 0 0 60px;
  }
}

.gray-bg-block {
  margin: 0 -29px 66px;
  padding: 29px 28px 32px;
  background: #F8F8FF;
  box-shadow: 0 16px 13px rgba(255, 255, 255, 0.05);

  @media (min-width: 768px) {
    margin: 0 0 53px;
    border-radius: 28px;
    padding: 27px 41px 43px;
  }
  
  .title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding: 0 0 27px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.content-article-img {
  overflow: hidden;
  padding: 19px 0 23px;

  @media (min-width: 768px) {
    padding: 29px 0 30px;
  }

  img {
    border-radius: 21px;
    margin: 0 0 12px;

    @media (min-width: 768px) {
      border-radius: 28px;
      margin: 0 0 11px;
    }
  }

  figcaption {
    color: $lighter-purple;
    @media (min-width: 768px) {
      font-size: $font-size-base;
      font-weight: 500;
    }
  }
}

.additional-article-title {
  display: block;
  color: $lighter-purple;
  font-weight: 600;
  padding: 27px 0 21px;

  @media (min-width: 768px) {
    padding: 27px 0 24px;
  }
}

.additional-article {
  display: flex;
  align-items: flex-start;
  max-width: 464px;
  line-height: 1.6;
  position: relative;
  padding: 0 12px 0 0;
  margin: 0 0 47px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
    width: 12px;
    height: 12px;
    background: url("../images/arrow-light-purpule.svg") no-repeat 50% 50%;
    background-size: contain;

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    line-height: 1.6;
    font-size: 14px;
    padding: 0 0 55px;
    margin: 0;
  }

  .image {
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 19px 0 0;
    width: 92px;
    height: 81px;
    flex-shrink: 0;
    position: relative;

    @media (min-width: 768px) {
      border-radius: 10px;
      width: 78px;
      height: 78px;
      margin: 0 27px 0 0;
    }
  }

  .title {
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 3px 0 7px;

    @media (min-width: 768px) {
      font-size: $md-size-base;
      padding: 0 0 10px;
    }

    a {
      border-bottom: 1px solid rgba($purple, 0.2);
      padding: 0 0 3px;

      &:hover {
        border-color: transparent;
      }

      @media (max-width: 767px) {
        border-bottom: none;
        padding: 0;
        color: $base-text-color;
      }
    }
  }

  .category-link {
    font-size: 14px;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 13px;
    }
  }
}

.share-block {
  padding: 33px 0 55px;

  @media (min-width: 768px) {
    padding: 44px 0 102px;
  }

  .subtitle {
    padding: 0 0 33px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 0 0 27px;
      text-align: left;
    }
  }
}

.recommend-topics-frame {
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    margin: 0 -14px;
  }
}

.recommend-topic {
  @media (min-width: 768px) {
    width: 50%;
    padding: 0 14px;
  }

  .topic-img {
    height: 220px;
    overflow: hidden;
    border-radius: 22px;
    padding: 16px 12px;
    margin: 0 0 20px;
    position: relative;
  }

  .label {
    color: $purple;
    display: inline-block;
    vertical-align: top;
    background: #F8F8FF;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 12px;
    margin: 0 5px 10px;
  }

  h4, .h4 {
    font-size: 19px;
    margin: 0 0 32px;
    max-width: 85%;
    line-height: 1.5;
    letter-spacing: 0;

    @media (min-width: 768px) {
      font-size: 19px;
    }

    a {
      color: $base-text-color;

      &:hover {
        color: $base-link-color;
      }
    }
  }
}

.caption + .format-list {
  margin-top: -10px;
}

.caption + .tile-centered-list {
  @media (min-width: 768px) {
    margin-top: -35px;
  }
}

.step-carousel-holder {
  max-width: 510px;
  margin: 0 auto 35px;
  position: relative;

  @media (min-width: 768px) {
    margin: 0 auto 113px;
  }
}

.step-carousel {
  position: relative;
  padding: 0 0 65px;

  @media (min-width: 768px) {
    padding: 0 0 162px;
  }

  .slick-arrow {
    background: $white;
    border: 1px solid $base-text-color;
    position: absolute;
    bottom: 20px;
    width: 43px;
    height: 43px;
    background-size: 19px 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.slick-prev {
      background-image: url("../images/purpule-arrow-left.svg");
      left: calc(50% - 48px);

      @media (min-width: 768px) {
        left: calc(50% - 58px);
      }
    }

    &.slick-next  {
      background-image: url("../images/purpule-arrow-right.svg");
      right: calc(50% - 48px);

      @media (min-width: 768px) {
        right: calc(50% - 58px);
      }
    }

    &:hover {
      background-color: #F6FAFD;
    }

    @media (min-width: 768px) {
      width: 53px;
      height: 53px;
      background-size: 22px 18px;
    }
  }

  .slide-holder {
    text-align: center;
    font-size: 15px;

    .step {
      display: inline-block;
      vertical-align: top;
      background: $light-gray;
      color: $purple;
      border-radius: 24px;
      padding: 4px 25px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      margin: 0 0 15px;
    }
  }

  .slide-image {
    max-width: 80%;
    margin: 0 auto 32px;

    @media (min-width: 768px) {
      margin: 0 0 63px;
      max-width: 100%;
    }

    img {
      margin: 0 auto;
    }
  }

  .slide-title {
    display: block;
    font-weight: 500;
    font-size: 19px;
    padding: 0 10% 15px;
    line-height: 1.35;
    @media (min-width: 768px) {
      padding: 0 0 30px;
      font-size: 28px;
    }
  }
}

.step-nav-holder {
  @media (min-width: 768px) {
    position: absolute;
    bottom: 107px;
    left: -15px;
    right: -50px;
    margin: 0 -50px 0 -15px;
  }
}

.step-nav {
  .slick-slide {
    &.slick-current {
      .step {
        background: $purple;
        color: $white;
      }
    }
  }

  .slick-slide{
    &:last-child,
    &:nth-child(5n) {
      .slide-holder {
        &:after {
          display: none;
        }
      }
    }
  }

    .slide-holder {
      &:after {
        content: '';
        width: 26px;
        height: 2px;
        background: url("../images/step-dots.svg") 50% 50% no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        margin: 0 2px 0 14px;
      }
    }
  .step {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    background: #F6FAFD;
    border-radius: 2em;
    padding: 10px 22px 11px;
    color: $purple;
    font-size: 11px;
    font-weight: 700;
    transition: background $animation-speed, color $animation-speed;
  }
}