@font-face{font-family:'Ubuntu';src:url("../fonts/Ubuntu-Regular.woff") format("woff"),url("../fonts/Ubuntu-Regular.woff2") format("woff2");font-display:swap;font-weight:normal;font-style:normal}@font-face{font-family:'Ubuntu';src:url("../fonts/Ubuntu-Medium.woff") format("woff"),url("../fonts/Ubuntu-Medium.woff2") format("woff2");font-display:swap;font-weight:500;font-style:normal}@font-face{font-family:'Ubuntu';src:url("../fonts/Ubuntu-Bold.woff") format("woff"),url("../fonts/Ubuntu-Bold.woff2") format("woff2");font-display:swap;font-weight:700;font-style:normal}

/*# sourceMappingURL=../maps/fonts.css.map */
