extends layouts/base

block title
    - var currentPage = "blog"
    title Jomp

block main
    #main.has-border
        .container
            ul.breadcrumb
                li
                    a(href="" + blog_page) Блог
                li
                    span Наружная реклама
            .article-caption
                h1 Что такое unit-экономика стартапа
                .post-info-block
                    ul.post-info-list
                        li
                            img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                            span 30.01.2018
                        li
                            img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                            span 546
                    .rate-block
                        span.title 4.1
                        .rating
                            input#rating-5(type="radio" value="5" name="rating" checked)
                            label(for="rating-5" title="5 stars")
                            input#rating-4(type="radio" value="4" name="rating" checked)
                            label(for="rating-4" title="4 stars")
                            input#rating-3(type="radio" value="3" name="rating" checked)
                            label(for="rating-3" title="3 stars")
                            input#rating-2(type="radio" value="2" name="rating")
                            label(for="rating-2" title="2 stars")
                            input#rating-1(type="radio" value="1" name="rating")
                            label(for="rating-1" title="1 stars")
                        span.rate-amount.visible-tablet 145 оценок
            .article-img
                picture.bg-strech
                    source(srcset="images/img20.webp" type="image/webp")
                    source(srcset="images/img20.jpg" type="image/jpg")
                    img(src="images/img20.webp" alt="image" width="1282" height="504" loading="lazy")
            .article-layout
                .content
                    .main-article-text
                        p.lead-text Принятие решений на основе цифр. Максимальный эффект. Кратный рост. <br/> Фокус-Скорость-Результат. UA, C1, B, AVP, COGS, APC, ARPC, ARPU, AC, CPA, CM и много других непонятных сокращений.
                        .gray-bg-block
                            strong.title Содержание
                            ol.ordered-list
                                li
                                    span Что такое юнит-экономика и зачем она нужна
                                    ol.ordered-list
                                        li
                                            span С чего начать
                                        li
                                            span Инструменты, шаблоны
                                li
                                    span Решаем задачи и нарабатываем навык работы
                                    ol.ordered-list
                                        li
                                            span Симулятор стартапа
                                        li
                                            span IPO
                                        li
                                            span Шаблон расчёта
                                        li
                                            span Бот
                        h2.h4 О чём публикация и что стоит знать
                        p Юнит-экономика (unit economics) — метод экономического моделирования, используемый для определения прибыльности бизнес-модели, путем оценки прибыльности единицы товара или одного клиента.Как правило, применяется для оценки прибыльности бизнес-идеи стартапа.
                        p Бизнес может быть успешным только если отдельная единица товара или услуги будет прибыльной.
                        figure.content-article-img
                            picture
                                source(srcset="images/img21.webp" type="image/webp")
                                source(srcset="images/img21.png" type="image/png")
                                source(srcset="images/img21-mob.webp" type="image/webp" media="(min-width: 768px)")
                                source(srcset="images/img21-mob.png" type="image/png" media="(min-width: 768px)")
                                img.hidden-tablet(src="images/img21-mob.webp" alt="image" width="320" height="182" loading="lazy")
                                img.visible-tablet(src="images/img21.webp" alt="image" width="736" height="517" loading="lazy")
                            figcaption Это пример подписи к изображению
                        p Симулятор стартапа от Даниила Ханина, который заставляет вас пройти через все круги aда (то есть через все стадии стартапа). Потратив один день на эту игру, вы сможете на практике понять, как работать с юнит-экономикой, на какие показатели на каждой стадии стоит фокусироваться. Будьте готовы к тому, что вам нужно будет начинать игру с начала много раз.
                        strong.additional-article-title Статья по теме:
                        .additional-article
                            a.image(href="" + static_link)(style="background-image:url('images/img22.png')")
                                picture.bg-strech
                                    source(srcset="images/img22.webp" type="image/webp")
                                    source(srcset="images/img22.png" type="image/png")
                                    img(src="images/img22.webp" alt="image" width="92" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + static_link) Как посчитать ROI наружной рекламы
                                p.visible-tablet Рацион должен быть полностью сбалансированным, без излишеств и недоеданий.
                                a.category-link.hidden-tablet(href="" + static_link) Оптимизация
                        h3 Самое важное: решаем задачи и нарабатываем навык работы с юнит-экономикой
                        p Если вы любитель хардкора: просто начинайте сразу с симулятора стартапа. Когда вы дойдете до стадии IPO, можно будет смело сказать, что в азах юнит-экономики вы шарите. Рекомендую сразу открыть в соседней вкладке шаблон расчёта, вводить в него все данные из симулятора и искать метрику, изменение которой даст вам больше выхлопа и приблизит к следующей стадии проекта.
                        ul.bullet-list
                            li Шаблон от Ильи Красинского;
                            li Шаблон от Даниила Ханина ;
                            li Калькулятор ueCalc от Ханина.
                        h3 Набор инструментов
                        p Рекомендую сразу открыть в соседней вкладке шаблон расчёта, вводить в него все данные из симулятора и искать метрику
                        ul.content-list
                            li
                                strong.lead Инструмент 1:
                                span Бот от команды Ильи Красинского, который присылает кейсы, видео, разные материалы.
                            li
                                strong.lead Инструмент 2:
                                span Симулятор стартапа от Даниила Ханина
                            li
                                strong.lead Инструмент 3:
                                span Если вы любитель хардкора: просто начинайте сразу с симулятора стартапа
                        figure.content-article-img
                            picture
                                source(srcset="images/img23.webp" type="image/webp")
                                source(srcset="images/img23.png" type="image/png")
                                source(srcset="images/img23-mob.webp" type="image/webp" media="(min-width: 768px)")
                                source(srcset="images/img23-mob.png" type="image/png" media="(min-width: 768px)")
                                img.hidden-tablet(src="images/img23-mob.webp" alt="image" width="320" height="182" loading="lazy")
                                img.visible-tablet(src="images/img23.webp" alt="image" width="736" height="517" loading="lazy")
                            figcaption Это пример подписи к изображению
                        p Юнит-экономика показывает как бизнес зарабатывает с потока пользователей. Схема работы бизнеса: на входе принимаем пользователей, которые проходят через черный ящик бизнеса и приносят деньги. При этом помним, что деньги бывают как со знаком плюс, так и минус.
                    .share-block
                        strong.subtitle Поделиться с друзьями
                        ul.share-list
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-vk.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-ok.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-fb.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-tw.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-lk.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                    .recommend-material.visible-desktop
                        h3 Рекомендуем почитать по теме
                        .recommend-topics-frame
                            .recommend-topic
                                .topic-img
                                    picture.bg-strech
                                        source(srcset="images/img24.webp" type="image/webp")
                                        source(srcset="images/img24.png" type="image/png")
                                        img(src="images/img24.webp" alt="image" width="354" height="220" loading="lazy")
                                    span.label Наружная реклама
                                h4
                                    a(href="" + article_page) Как посчитать ROI наружной рекламы
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                        span 546
                            .recommend-topic
                                .topic-img
                                    picture.bg-strech
                                        source(srcset="images/img25.webp" type="image/webp")
                                        source(srcset="images/img25.png" type="image/png")
                                        img(src="images/img25.webp" alt="image" width="354" height="220" loading="lazy")
                                    span.label Наружная реклама
                                h4
                                    a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10")
                                        span 546
                aside.aside
                    .aside-articles-frame
                        strong.subtitle
                            span.visible-tablet Популярные статьи
                            span.hidden-tablet Рекомендуем почитать по теме
                        .additional-article
                            a.image(href="" + article_page)
                                picture.bg-strech
                                    source(srcset="images/img22.webp" type="image/webp")
                                    source(srcset="images/img22.png" type="image/png")
                                    img(src="images/img22.webp" alt="image" width="100" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + article_page) Как посчитать ROI наружной рекламы
                                a.category-link(href="" + static_link) Оптимизация
                        .additional-article
                            a.image(href="" + article_page)
                                picture.bg-strech
                                    source(srcset="images/img26.webp" type="image/webp")
                                    source(srcset="images/img26.png" type="image/png")
                                    img(src="images/img26.webp" alt="image" width="100" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + article_page) Что такое unit-экономика стартапа
                                a.category-link(href="" + static_link) Наружная реклама
                        .additional-article
                            a.image(href="" + article_page)
                                picture.bg-strech
                                    source(srcset="images/img27.webp" type="image/webp")
                                    source(srcset="images/img27.png" type="image/png")
                                    img(src="images/img27.webp" alt="image" width="100" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                                a.category-link(href="" + static_link) Исследования
                    .subscribe-block
                        h3 Подпишитесь на блог Jomp
                        p Получайте еженедельно полезный контент видеорекламу и заработок на сайтах
                        form(action="#")
                            input(type="email" value="subscriber@gmail.com")
                            button.btn.has-shadow(type="submit") Подписаться