extends layouts/base

block title
    - var currentPage = "billboard_adv"
    title Jomp

block main
    #main
        .container
            .banner.billboard-banner
                .banner-holder
                    .img-col
                        img(src="images/banner-img3.svg" alt="image" width="552" height="522" loading="lazy")
                    .banner-text-col
                        h1 Реклама на видеобилбордах в Санкт-Петербурге
                        p Платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование.
                        .banner-buttons
                            button.btn.has-shadow.md-btn Запустить рекламу
                            button.btn-has-triangle Как это работает
                ul.checkmarck-list
                    li Еженедельный вывод
                    li Любая посещаемость
                    li Подключение за 5 минут
            .caption
                h2 Выгоднее и эффективнее <br/> статичной рекламы
            ul.tile-centered-list
                li
                    .icon
                        img(src="images/icon18.svg" alt="image" width="49" height="49" loading="lazy")
                    strong.title Запуск рекламы за 15 минут
                    p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                li
                    .icon
                        img(src="images/icon19.svg" alt="image" width="41" height="37" loading="lazy")
                    strong.title Бюджет всегоот 1,000 р.
                    p Выплачиваем вовремя, каждый понедельник. Без задержек и скрытых условий.
                li
                    .icon
                        img(src="images/icon20.svg" alt="image" width="66" height="53" loading="lazy")
                    strong.title Отличная видимость <br/> в любую погоду
                    p Бесплатная видеотека с лицензионными фильмами и сериалами.
                li
                    .icon
                        img(src="images/icon21.svg" alt="image" width="50" height="49" loading="lazy")
                    strong.title Мгновенная замена <br/> рекламы
                    p Только брендинговая реклама продуктов и услуг от крупнейших правообладателей на РФ трафик.
                li
                    .icon
                        img(src="images/icon22.svg" alt="image" width="52" height="37" loading="lazy")
                    strong.title Детальная оценка эффективности
                    p Бесплатная видеотека  с лицензионными фильмами и сериалами.
            .caption
                h2 Возможности <br class="visible-tablet"/> рекламы с&#160;Advideo
            .two-column-frame.billboard-page
                .row
                    .col
                        .img-frame
                            picture
                                source(srcset="images/img28.webp" type="image/webp")
                                source(srcset="images/img28.png" type="image/png")
                                img(src="images/img28.webp" alt="image" width="587" height="511" loading="lazy")
                    .col
                        .text
                            strong.subtitle НАСТРОЙКА ГЕОТАРГЕТИНГА
                            h3 Оценивайте эффективность каждого билборда
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                            ul.list-has-icon
                                li
                                    .icon-box
                                        img(src="images/icon23.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Оплата за показы или охват
                                        p Платите за показы ролика или охват аудитории
                                li
                                    .icon-box
                                        img(src="images/icon24.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Ограничение бюджета
                                        p Выставляйте лимиты на дневной бюджет и всю рекламную кампанию
                                li
                                    .icon-box
                                        img(src="images/icon25.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Интенсивность показов
                                        p Вы сами назначаете стоимость показа и управляете интенсивностью показов
                .row
                    .col
                        .img-frame
                            picture
                                source(srcset="images/img29.webp" type="image/webp" media="(min-width: 768px)")
                                source(srcset="images/img29.png" type="image/png" media="(min-width: 768px)")
                                source(srcset="images/img29-mob.webp" type="image/webp" media="(max-width: 767px)")
                                source(srcset="images/img29-mob.png" type="image/png" media="(max-width: 767px)")
                                img(src="images/img29.webp" alt="image" width="630" height="497" loading="lazy")
                    .col
                        .text
                            strong.subtitle Удобный личный кабинет
                            h3 Управляйте рекламой с любого устройтсва
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                            ul.list-has-icon
                                li
                                    .icon-box
                                        img(src="images/icon26.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Тестируйте рекламу
                                        p Платите за показы ролика или охват аудитории
                                li
                                    .icon-box
                                        img(src="images/icon27.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title С любого устройства
                                        p Выставляйте лимиты на дневной бюджет и всю рекламную кампанию
                                li
                                    .icon-box
                                        img(src="images/icon28.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Ведите несколько клиентов
                                        p Вы сами назначаете стоимость показа и управляете интенсивностью показов
                .row
                    .col
                        .img-frame
                            picture
                                source(srcset="images/img30.webp" type="image/webp")
                                source(srcset="images/img30.png" type="image/png")
                                img(src="images/img30.webp" alt="image" width="638" height="535" loading="lazy")
                    .col
                        .text
                            strong.subtitle Гибкое управление бюджетом
                            h3 Оценивайте эффективность каждого билборда
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                            ul.list-has-icon
                                li
                                    .icon-box
                                        img(src="images/icon29.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Охват, показы, расход
                                        p Платите за показы ролика или охват аудитории
                                li
                                    .icon-box
                                        img(src="images/icon30.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Экспорт в CSV
                                        p Выставляйте лимиты на дневной бюджет и всю рекламную кампанию
                                li
                                    .icon-box
                                        img(src="images/icon31.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Детализация
                                        p Вы сами назначаете стоимость показа и управляете интенсивностью показов
                .row
                    .col
                        .img-frame
                            picture
                                source(srcset="images/img31.webp" type="image/webp")
                                source(srcset="images/img31.png" type="image/png")
                                img(src="images/img31.webp" alt="image" width="612" height="468" loading="lazy")
                    .col
                        .text
                            strong.subtitle Гибкое управление бюджетом
                            h3 Управляйте рекламным бюджетом
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                            ul.list-has-icon
                                li
                                    .icon-box
                                        img(src="images/icon32.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Оплата за показы или охват
                                        p Платите за показы ролика или охват аудитории
                                li
                                    .icon-box
                                        img(src="images/icon33.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Ограничение бюджета
                                        p Выставляйте лимиты на дневной бюджет и всю рекламную кампанию
                                li
                                    .icon-box
                                        img(src="images/icon34.svg" alt="icon" width="44" height="44" loading="lazy")
                                    .text-box
                                        strong.title Интенсивность показов
                                        p Вы сами назначаете стоимость показа и управляете интенсивностью показов
            .caption
                h2 Запустите рекламу самостоятельно <br/> всего за 15 минут
            .step-carousel-holder
                .step-carousel
                    div
                        .slide-holder
                            .slide-image
                                img(src="images/slide1.svg" alt="image" width="351" height="264" loading="lazy")
                            .slide-content
                                span.step.hidden-tablet ШАГ №1
                                strong.slide-title Выберите поверхности для показа
                                p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    div
                        .slide-holder
                            .slide-image
                                img(src="images/slide2.svg" alt="image" width="300" height="271" loading="lazy")
                            .slide-content
                                span.step.hidden-tablet ШАГ №2
                                strong.slide-title Выберите поверхности для показа
                                p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    div
                        .slide-holder
                            .slide-image
                                img(src="images/slide3.svg" alt="image" width="412" height="322" loading="lazy")
                            .slide-content
                                span.step.hidden-tablet ШАГ №3
                                strong.slide-title Выберите поверхности для показа
                                p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    div
                        .slide-holder
                            .slide-image
                                img(src="images/slide4.svg" alt="image" width="373" height="334" loading="lazy")
                            .slide-content
                                span.step.hidden-tablet ШАГ №4
                                strong.slide-title Выберите поверхности для показа
                                p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    div
                        .slide-holder
                            .slide-image
                                img(src="images/slide5.svg" alt="image" width="345" height="291" loading="lazy")
                            .slide-content
                                span.step.hidden-tablet ШАГ №5
                                strong.slide-title Выберите поверхности для показа
                                p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                .step-nav-holder
                    .step-nav.visible-tablet
                        div
                            .slide-holder
                                span.step ШАГ 1
                        div
                            .slide-holder
                                span.step ШАГ 2
                        div
                            .slide-holder
                                span.step ШАГ 3
                        div
                            .slide-holder
                                span.step ШАГ 4
                        div
                            .slide-holder
                                span.step ШАГ 5
            .caption
                h2 На ваш выбор 3 формата <br/> Indoor и Outdoor
            ul.format-list
                li
                    .icon-box
                        img(src="images/img32.svg" alt="icon" width="147" height="100" loading="lazy")
                    .text-box
                        span.bage.green INDOOR
                        strong.title Экран в БЦ
                li
                    .icon-box
                        img(src="images/img34.svg" alt="icon" width="148" height="107" loading="lazy")
                    .text-box
                        span.bage OUTDOOR
                        strong.title Билборд
                li
                    .icon-box
                        img(src="images/img33.svg" alt="icon" width="148" height="100" loading="lazy")
                    .text-box
                        span.bage OUTDOOR
                        strong.title Суперсайт
        .container
            .partner-logo-frame
                h3
                    span.visible-tablet 1,549 билбордов
                    span.hidden-tablet 1,549 билбордов в СПб и области
                    span.visible-tablet.tiny-text В Санкт-Петербурге и Области
                ul.logo-list.has-right-indent
                    li
                        img(src="images/logo6.svg" alt="logo" width="96" height="36" loading="lazy")
                    li
                        img(src="images/logo7.svg" alt="logo" width="160" height="36" loading="lazy")
                    li
                        img(src="images/logo8.svg" alt="logo" width="94" height="32" loading="lazy")
                    li
                        img(src="images/logo9.svg" alt="logo" width="143" height="46" loading="lazy")
            .testimonials-wrap.visible-tablet
                h2 Отзывы о работе<br/> с Advideo
                .testimonials-frame
                    .testimonials-slider
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-1(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-1") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-1") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-2(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-2") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-2") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-3(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-3") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-3") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-4(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-4") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-4") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само по&#160;себе монетизируется...»
                                    input#show-more-slide-5(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-5") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-5") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-6(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-6") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после
                                        label.show-more-label.opened-slide(for="show-more-slide-6") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
            .caption.has-side-indent
                h2 Мы всегда готовы вам помочь
                p.small-text По любым вопросам обращайтесь ежедневно с 10:00 до 22:00 по МСК
            .members-row
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img4.webp" type="image/webp")
                            source(srcset="images/img4.jpg" type="image/jpg")
                            img(src="images/img4.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Александра
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img5.webp" type="image/webp")
                            source(srcset="images/img5.jpg" type="image/jpg")
                            img(src="images/img5.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Дмитрий
                    //replace class .active with class .inactive to apply styles for inactive user
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
            .accordion-frame
                .caption-has-btn
                    h2.small-h2 Остались вопросы?
                    a.btn.has-arrow.visible-tablet(href="" + static_link) Все вопросы
                input#radio-slide1(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide1").accordion-opener Как зарегистироваться в сервисе?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide2(type="checkbox" name="accordion" checked)
                .accordion-row
                    label(for="radio-slide2").accordion-opener Сколько нужно денег для запуска рекламной кампании?
                    .slide
                        p Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете.
                input#radio-slide3(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide3").accordion-opener Какие виды товаров можно рекламировать?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide4(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide4").accordion-opener Какая модель оплаты?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide5(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide5").accordion-opener Как зарегистироваться в сервисе?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                a.btn.has-arrow.hidden-tablet(href="" + static_link) Все вопросы
        .purple-banner
            .container
                h2.small-h2 Попробуйте рекламу на видеобилбордах
                a.btn.lg-btn(href="" + static_link)
                    span.visible-tablet Зарегистрировать сайт
                    span.hidden-tablet Запустить рекламу
                span.help-text Есть вопросы? Звоните:
                span.tel
                    img.icon(src="images/tel.svg" alt="icon" width="17" height="17" loading="lazy")
                    a(href="" + 'tel:88005009163') 8 (800) 500-91-63