extends layouts/base

block title
    - var currentPage = "blog"
    title Jomp

block main
    #main.has-border
        .container
            .blog-caption
                .title-box
                    h1.h2 Блог Jomp
                .search-box.popup-holder
                    button.search-btn.opener(type="button")
                    .popup
                        input(type="search" placeholder="Поиск статей")
            ul.articles-category-list
                li.active
                    a(href="" + blog_page) Все статьи
                li
                    a(href="" + 'blog_2.html') Наружная реклама
                li
                    a(href="" + static_link) Оптимизация
                li
                    a(href="" + static_link) Исследования
                li
                    a(href="" + static_link) Дизайн
                li
                    a(href="" + static_link) Интервью и мнение
                li
                    a(href="" + static_link) Обзоры
            .blog-layout
                .content
                    .post-block
                        .img-preview
                            picture.bg-strech
                                source(srcset="images/img17.webp" type="image/webp")
                                source(srcset="images/img17.png" type="image/png")
                                img(src="images/img17.webp" alt="image" width="845" height="420" loading="lazy")
                        .heading
                            ul.post-category-list
                                li Оптимизация
                                li.visible-tablet Наружная реклама
                            h2
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                        p.visible-tablet Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...
                        .post-info-block
                            ul.post-info-list
                                li
                                    img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                    span 30.01.2018
                                li
                                    img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                    span 546
                            .rate-block
                                span.title 4.1
                                .rating
                                    input#rating-5(type="radio" value="5" name="rating")
                                    label(for="rating-5" title="5 stars")
                                    input#rating-4(type="radio" value="4" name="rating")
                                    label(for="rating-4" title="4 stars")
                                    input#rating-3(type="radio" value="3" name="rating")
                                    label(for="rating-3" title="3 stars")
                                    input#rating-2(type="radio" value="2" name="rating")
                                    label(for="rating-2" title="2 stars")
                                    input#rating-1(type="radio" value="1" name="rating")
                                    label(for="rating-1" title="1 stars")
                                span.rate-amount.visible-tablet 145 оценок
                    .post-block
                        .img-preview
                            picture.bg-strech
                                source(srcset="images/img18.webp" type="image/webp")
                                source(srcset="images/img18.png" type="image/png")
                                img(src="images/img18.webp" alt="image" width="845" height="420" loading="lazy")
                        .heading
                            ul.post-category-list
                                li Оптимизация
                                li.visible-tablet Наружная реклама
                            h2
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                        p.visible-tablet Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...
                        .post-info-block
                            ul.post-info-list
                                li
                                    img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                    span 30.01.2018
                                li
                                    img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                    span 546
                            .rate-block
                                span.title 4.1
                                .rating
                                    input#rating-5_2(type="radio" value="5" name="rating_2")
                                    label(for="rating-5_2" title="5 stars")
                                    input#rating-4_2(type="radio" value="4" name="rating_2")
                                    label(for="rating-4_2" title="4 stars")
                                    input#rating-3_2(type="radio" value="3" name="rating_2")
                                    label(for="rating-3_2" title="3 stars")
                                    input#rating-2_2(type="radio" value="2" name="rating_2")
                                    label(for="rating-2_2" title="2 stars")
                                    input#rating-1_2(type="radio" value="1" name="rating_2")
                                    label(for="rating-1_2" title="1 stars")
                                span.rate-amount.visible-tablet 145 оценок
                    .post-block
                        .img-preview
                            picture.bg-strech
                                source(srcset="images/img19.webp" type="image/webp")
                                source(srcset="images/img19.png" type="image/png")
                                img(src="images/img19.webp" alt="image" width="845" height="420" loading="lazy")
                        .heading
                            ul.post-category-list
                                li Оптимизация
                                li.visible-tablet Наружная реклама
                            h2
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                        p.visible-tablet Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...
                        .post-info-block
                            ul.post-info-list
                                li
                                    img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                    span 30.01.2018
                                li
                                    img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                    span 546
                            .rate-block
                                span.title 4.1
                                .rating
                                    input#rating-5_3(type="radio" value="5" name="rating_3")
                                    label(for="rating-5_3" title="5 stars")
                                    input#rating-4_3(type="radio" value="4" name="rating_3")
                                    label(for="rating-4_3" title="4 stars")
                                    input#rating-3_3(type="radio" value="3" name="rating_3")
                                    label(for="rating-3_3" title="3 stars")
                                    input#rating-2_3(type="radio" value="2" name="rating_3")
                                    label(for="rating-2_3" title="2 stars")
                                    input#rating-1_3(type="radio" value="1" name="rating_3")
                                    label(for="rating-1_3" title="1 stars")
                                span.rate-amount.visible-tablet 145 оценок
                    .pagination-frame
                        button.pagination-btn.prev(type="button") Назад
                        ul.pagination-list
                            li
                                a(href="" + static_link) 1
                            li.active
                                span 2
                            li
                                a(href="" + static_link) 3
                            li
                                span ...
                            li
                                a(href="" + static_link) 15
                        button.pagination-btn.next(type="button") Вперед
                aside.aside
                    .subscribe-block
                        h3 Подпишитесь на блог Jomp
                        p Получайте еженедельно полезный контент видеорекламу и заработок на сайтах
                        form(action="#")
                            input(type="email" value="subscriber@gmail.com")
                            button.btn.has-shadow(type="submit") Подписаться