extends layouts/base

block title
    - var currentPage = ""
    title Jomp

block main
    #main
        .container
            .banner.main-banner
                .banner-text
                    h1 Система онлайн&#8209;видеорекламы
                    p Платформа для размещения рекламы на Digital Outdoor <br class="visible-widescreen"/> и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование.
                    .main-banner-buttons
                        .col
                            span.btn-label Есть сайт?
                            button.btn.green.md-btn Монетизировать трафик
                        span.visible-tablet.either или
                        .col
                            span.btn-label Есть ролик?
                            button.btn.purple.md-btn Запустить видео-рекламу
            .caption
                h2.small-h2 Объединяем вебмастеров <br/> и рекламодателей
            .mob-check-tabs
                input#radio-tab1(type="radio" name="mob-tabs" checked)
                label(for="radio-tab1").radio-tab-label Вебмастерам
                input#radio-tab2(type="radio" name="mob-tabs")
                label(for="radio-tab2").radio-tab-label Рекламодателям
                .col
                    .tab-content.advertisers
                        .icon.visible-tablet
                            img(src="images/icon1.svg" alt="icon" width="159" height="159" loading="lazy")
                        h3 У вас есть сайт?
                        p Для утверждения статистики по показам <br/> и рекламным форматам
                        ul.adv-actions-list
                            li Подключите разные форматы видеорекламы
                            li Размещате видеоконтент
                            li Получайте отчисления
                    a.visible-tablet(href="" + static_link) Подробнее об условиях работы с вебмастерами
                .col
                    .tab-content.webmasters
                        .icon.visible-tablet
                            img(src="images/icon2.svg" alt="icon" width="159" height="159" loading="lazy")
                        h3 Нужна видеореклама?
                        p Для утверждения статистики по показам <br/> и рекламным форматам
                        ul.adv-actions-list
                            li Загрузите ролик в систему
                            li Укажите объем и охват показов
                            li Отслеживайте результат
                    a.visible-tablet(href="" + static_link) Подробнее об условиях работы с рекламодателями
            .circle-row
                .text-col
                    h2.small-h2 Простые и эффективные форматы
                        span.primary-color &ensp;для рекламодателей
                    ul.checkmarck-list
                        li Легко встраиваемая видеореклама продуктов и услуг в любом типе контента.
                        li Ненавязчивое размещение форматов для посетителей сайтов, по стандартам рекомендаций IAB Russia.
                        li Соблюдение brand-safety и брендинговая реклама в соответствии с законодательством РФ.
                .circle-col
                    .circle.large.dark-purple.circle-1
                        strong 1 миллиард
                        span Рекламных показов в год
                    .circle.medium.green.circle-2
                        strong 2,500+
                        span Зарегистрированных доменов
                    .circle.small.purple.circle-3
                        strong 4
                        span Года успешной работы
                    .circle.empty-circle-md.light-green.circle-4
                    .circle.empty-circle-sm.gray.circle-5
                    .circle.empty-circle-xs.gray.circle-6
            .circle-row.secondary
                .text-col
                    h2.small-h2 Собственные разработки и инструменты
                        span.primary-color &ensp;для вебмастеров
                    ul.checkmarck-list
                        li Легко встраиваемая видеореклама продуктов и услуг в любом типе контента.
                        li Ненавязчивое размещение форматов для посетителей сайтов, по стандартам рекомендаций IAB Russia.
                        li Соблюдение brand-safety и брендинговая реклама в соответствии с законодательством РФ.
                .circle-col
                    .circle.medium.light-red.circle-1
                        strong 60%
                        span Средний выкуп c&#160;площадок
                    .circle.large.dark-purple.circle-2
                        strong От 45 р.
                        span Средний CPM
                    .circle.small.green.circle-3
                        strong 29 449
                        span Фильмов и сериалов
                    .circle.empty-circle-md.yellow.circle-4
                    .circle.empty-circle-sm.gray.circle-5
                    .circle.empty-circle-sm.gray.circle-6
            .caption
                h2 Единая рекламная видеосеть
                p Один аккаунт с доступом ко всем <br/> инструментам
            .tile-wrap
                .tile
                    strong.subtitle РЕКЛАМА НА БИЛБОРДАХ
                    h3 Монетизируйте<br/> свой сайт
                    .tile-buttons
                        a.btn.purple(href="" + static_link) Попробовать
                        a.btn.has-arrow(href="" + static_link) Подробнее
                    img(src="images/img1.svg" alt="image" width="298" height="237" loading="lazy")
                .tile
                    strong.subtitle ВИДЕОРЕКЛАМА НА САЙТАХ
                    h3 Размещайте видеорекламу на сайтах
                    .tile-buttons
                        a.btn.purple(href="" + static_link) Попробовать
                        a.btn.has-arrow(href="" + static_link) Подробнее
                    img(src="images/img2.svg" alt="image" width="296" height="239" loading="lazy")
                .tile.large
                    strong.subtitle ВИДЕОРЕКЛАМА НА БИЛБОРДАХ
                    h3 Показывайте видеорекламу на цифровых билбордах
                    .tile-buttons
                        a.btn.purple(href="" + static_link) Попробовать
                        a.btn.has-arrow(href="" + static_link) Подробнее
                    img(src="images/img3.svg" alt="image" width="335" height="248" loading="lazy")
            .testimonials-wrap
                h2 Отзывы о работе<br/> с Advideo
                .testimonials-frame
                    .testimonials-slider
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-1(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-1") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-1") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-2(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-2") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-2") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-3(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-3") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-3") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-4(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-4") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-4") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само по&#160;себе монетизируется...»
                                    input#show-more-slide-5(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-5") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-5") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-6(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-6") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после
                                        label.show-more-label.opened-slide(for="show-more-slide-6") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
            .caption.has-side-indent
                h2 Мы всегда готовы вам помочь
                p.small-text По любым вопросам обращайтесь ежедневно с 10:00 до 22:00 по МСК
            .members-row
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img4.webp" type="image/webp")
                            source(srcset="images/img4.jpg" type="image/jpg")
                            img(src="images/img4.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Александра
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img5.webp" type="image/webp")
                            source(srcset="images/img5.jpg" type="image/jpg")
                            img(src="images/img5.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Дмитрий
                    //replace class .active with class .inactive to apply styles for inactive user
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
        .purple-banner
            .container
                h2.small-h2.hidden-tablet От регистрации до подключения рекламы 10 минут
                h2.small-h2.visible-tablet От регистрации до запуска не более 5 минут
                a.btn.lg-btn(href="" + static_link)
                    span.visible-tablet Зарегистрировать сайт
                    span.hidden-tablet Запустить рекламу
                span.help-text Есть вопросы? Звоните:
                span.tel
                    img.icon(src="images/tel.svg" alt="icon" width="17" height="17" loading="lazy")
                    a(href="" + 'tel:88005009163') 8 (800) 500-91-63
        .container
            .intro-blog
                .caption-has-btn
                    h2.small-h2 Блог о рекламе
                    a.btn.has-arrow(href="" + blog_page) Читать блог
                .post-frame
                    .post-preview.large.has-blue-overlay
                        picture.bg-strech
                            source(srcset="images/img6.webp" type="image/webp")
                            source(srcset="images/img6.jpg" type="image/jpg")
                            img(src="images/img6.webp" alt="image" width="845" height="499" loading="lazy")
                        .post-info
                            h3
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                            .bottom-box
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon.svg" alt="icon" width="20" height="21" loading="lazy")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon.svg" alt="icon" width="20" height="10" loading="lazy")
                                        span 546
                                span.category Оптимизация
                    .post-preview.has-overlay
                        picture.bg-strech
                            source(srcset="images/img7.webp" type="image/webp")
                            source(srcset="images/img7.jpg" type="image/jpg")
                            img(src="images/img7.webp" alt="image" width="845" height="499" loading="lazy")
                        .post-info
                            h3
                                a(href="" + article_page) Как посчитать ROI наружной рекламы
                            .bottom-box
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon.svg" alt="icon" width="20" height="21" loading="lazy")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon.svg" alt="icon" width="20" height="10" loading="lazy")
                                        span 546
                                span.category Оптимизация
                    .post-preview.has-overlay
                        picture.bg-strech
                            source(srcset="images/img8.webp" type="image/webp")
                            source(srcset="images/img8.jpg" type="image/jpg")
                            img(src="images/img8.webp" alt="image" width="845" height="499" loading="lazy")
                        .post-info
                            h3
                                a(href="" + article_page) Как посчитать ROI наружной рекламы
                            .bottom-box
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon.svg" alt="icon" width="20" height="21" loading="lazy")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon.svg" alt="icon" width="20" height="10" loading="lazy")
                                        span 546
                                span.category Оптимизация
                    .post-preview.has-overlay
                        picture.bg-strech
                            source(srcset="images/img9.webp" type="image/webp")
                            source(srcset="images/img9.jpg" type="image/jpg")
                            img(src="images/img9.webp" alt="image" width="845" height="499" loading="lazy")
                        .post-info
                            h3
                                a(href="" + article_page) Как посчитать ROI наружной рекламы
                            .bottom-box
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon.svg" alt="icon" width="20" height="21" loading="lazy")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon.svg" alt="icon" width="20" height="10" loading="lazy")
                                        span 546
                                span.category Оптимизация
            .sm-width
                h2 Видеореклама в интернет
                h3 Размещение видеорекламы
                p Мы предлагаем площадкам, размещение видеорекламы на их сайтах с возможностью автостарта
                h3 Купить видеорекламу
                p Нами разработана система рекламы с помощью которой рекламодатель может размещать свою лучшую видеорекламу на сайтах
                h3 Продажа видеорекламы
                p Вы можете использовать нашу систему, чтобы продавать видеорекламу на своем сайте самим
                h2 Легализуй свой онлайн кинотеатр
                h3 Автозамена контента
                p Замена нелегального контента на легальный с помощью двух строчек кода, не требует полной замены или удаления плеера
                h2 Партнерская программа видео
                p Сегодня показ сериалов и фильмов от Videomore, Tvigle, TVMir, Megogo, Pladform, Rutube и других производителей пользуется высоким спросом у пользователей интернета. Именно этот сегмент представляет собой благодатную почву для монетизации видео контента. Одновременно растёт количество желающих купить видео рекламу, демонстрируемую в процессе просмотра популярных сериалов и шоу-программ. Наша партнерская программа предлагает вам открыть онлайн кинотеатр для получения доходов на рекламе.
                h2 Сколько стоит кинотеатр
                p В рамках нашего проекта вы сможете быстро создать онлайн кинотеатр бесплатно в виде автономного раздела на вашем сайте. Главная ваша задача – это пройти авторизацию и грамотно выбрать жанровые направления сериалов, фильмов и развлекательных программ, которые будут соответствовать тематике вашего сайта. Если вы до сих пор не знали, как создать онлайн кинотеатр – наша партнёрская программа быстро научит вас этому полезному во всех отношениях алгоритму.
                h2 Заработок в интернете
                p Желающие открыть онлайн кинотеатр и заработать в интернете смогут с первых дней оценить следующие бесспорные преимущества такого решения:
                ul.checkmarck-list
                    li Бесплатный доступ к лицензионному видео контенту, пользующемуся повышенным спросом у зрительской аудитории;
                    li Широкий выбор шаблонов, позволяющий буквально за пару часов создать на сайте кинотеатр онлайн;
                    li Автоматический режим управления рекламой и видео контентом;
                    li Впечатляющие доходы от монетизации трафика;
                    li Гарантированная регулярность отчислений;
                    li Повышение трастовых показателей вашего ресурса в глаза целевых посетителей и поисковых систем
                h2 Как заработать деньги
                p Предлагаемая монетизация видео контента доступна каждому владельцу сайта, который изъявит желание принять участие в нашей партнёрской программе. Потратив минимум времени, вы получите в своё распоряжение лицензионный видео контент, позволяющий неплохо зарабатывать на рекламе, демонстрируемой во время показа сериалов и передач. Если ваш сайт пользуется популярностью, отражаемой в насыщенном целевом трафике, то наша видео партнерская программа поможет конвертировать посещаемость в серьёзные реальные деньги.
                p Партнёрская программа AdVideo по легализации видео контента – гарантированный доход от рекламы в онлайн кинотеатре!