extends layouts/base

block title
    - var currentPage = "sites"
    title Jomp

block main
    #main
        .container
            .banner
                .banner-holder
                    .img-col
                        img(src="images/banner-img1.svg" alt="image" width="366" height="311" loading="lazy")
                    .banner-text-col
                        h1 Система&#160;видеорекламы для&#160;заработка на&#160;сайте
                        p Платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование.
                        .banner-buttons
                            button.btn.has-shadow.md-btn Запустить рекламу
                            button.btn-has-triangle Как это работает
                ul.checkmarck-list
                    li Еженедельный вывод
                    li Любая посещаемость
                    li Подключение за 5 минут
            .caption
                h2 Как получать прибыль?
            ul.steps-list
                li
                    span.step-number ШАГ 1
                    span.circle
                    strong.step-title Подключите рабочий&#160;домен
                    span С любым количеством трафика, без тематики 18+ и запрещенного контента
                li
                    span.step-number ШАГ 2
                    span.circle
                    strong.step-title Установите рекламный&#160;код
                    span Выбрав формат видеорекламы в личном кабинете для размещения на вашем сайте
                li
                    span.step-number ШАГ 3
                    span.circle
                    strong.step-title Подключите&#160;рабочий домен
                    span С любым количеством трафика, без тематики 18+ и запрещенного контента
            h2.small-h2.mob-centered  Единая рекламная<br/> видеосеть
            ul.tile-list
                li
                    .icon
                        img(src="images/icon5.svg" alt="image" width="57" height="54" loading="lazy")
                    strong.title Легкая настройка
                    p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                li
                    .icon
                        img(src="images/icon6.svg" alt="image" width="52" height="60" loading="lazy")
                    strong.title Еженедельный вывод <br/> средств
                    p Выплачиваем вовремя, каждый понедельник. Без задержек и скрытых условий.
                li
                    .icon
                        img(src="images/icon7.svg" alt="image" width="35" height="65" loading="lazy")
                    strong.title Свободное подключение
                    p Для сайтов с любой посещаемостью. Подключать и отключать рекламные коды можно когда угодно и сколько угодно.
                li
                    .icon
                        img(src="images/icon8.svg" alt="image" width="69" height="75" loading="lazy")
                    strong.title Показы рекламы <br/> есть всегда
                    p Только брендинговая реклама продуктов и услуг от крупнейших правообладателей на РФ трафик.
                li
                    .icon
                        img(src="images/icon9.svg" alt="image" width="54" height="47" loading="lazy")
                    strong.title Лицензионная видеотека
                    p Бесплатная видеотека c лицензионными фильмами и сериалами для размещения на сайте с более, чем 25 000 проектов.
                li
                    .icon
                        img(src="images/icon10.svg" alt="image" width="56" height="47" loading="lazy")
                    strong.title Адаптация под браузеры
                    p Реклама и рекламные плееры соответствуют всем требованиям поисковых систем и браузеров, не отпугивая посетителей сайта.
            .caption
                h2 Ваши возможности<br/> с Advideo
            .two-column-frame
                .row
                    .col
                        .text
                            strong.subtitle АНАЛИТИКА
                            h3 Управляйте рекламой с&#160;любого устройтсва
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    .col
                        .scroll-img
                            picture
                                source(srcset="images/img10.webp" type="image/webp")
                                source(srcset="images/img10.png" type="image/png")
                                source(srcset="images/img10-mob.webp" type="image/webp" media="(min-width: 768px)")
                                source(srcset="images/img10-mob.png" type="image/png" media="(min-width: 768px)")
                                img.hidden-tablet(src="images/img10.webp" alt="image" width="459" height="429" loading="lazy")
                                img.visible-tablet(src="images/img10.webp" alt="image" width="750" height="667" loading="lazy")
                .row
                    .col
                        .text
                            strong.subtitle ПАРТНЕРСКАЯ ПРОГРАММА
                            h3 Получайте % от дохода ваших&#160;рефералов
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                            a.visible-tablet(href="" + static_link) Подробнее о партнерской программе
                    .col
                        .scroll-img
                            picture
                                source(srcset="images/img11.webp" type="image/webp")
                                source(srcset="images/img11.png" type="image/png")
                                img(src="images/img11.webp" alt="image" width="570" height="599" loading="lazy")
                .row
                    .col
                        .text
                            strong.subtitle ВСТРОЕННЫЙ ПЛЕЕР
                            h3 Создавайте рекламные плееры для своих сайтов
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    .col
                        .scroll-img
                            picture
                                source(srcset="images/img12.webp" type="image/webp")
                                source(srcset="images/img12.png" type="image/png")
                                img(src="images/img12.webp" alt="image" width="771" height="647" loading="lazy")
        .format-tabs
            .container
                .caption
                    h2.small-h2 Три уникальных формата <br/> для монетизации сайта
                input#format-tab-1(type="radio" name="format-tab" checked)
                label.format-tab-label(for="format-tab-1") Реклама <br class="hidden-tablet"/> в видеоплеер
                input#format-tab-2(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-2") Рекламный <br class="hidden-tablet"/> видеоблок
                input#format-tab-3(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-3")
                    span.visible-tablet Лицензионная видеотека
                    span.hidden-tablet Лицензион. видеотека
                .tab-content
                    .tab-slide#video-player
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img13-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-block
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img15-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-library
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img14-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
        .container
            .partner-logo-frame
                h3 Рекламные партнеры <br/> Advideo
                ul.logo-list
                    li
                        img(src="images/logo1.svg" alt="logo" width="100" height="44" loading="lazy")
                    li
                        img(src="images/logo2.svg" alt="logo" width="175" height="30" loading="lazy")
                    li
                        img(src="images/logo3.svg" alt="logo" width="108" height="33" loading="lazy")
                    li
                        img(src="images/logo4.svg" alt="logo" width="48" height="51" loading="lazy")
                    li
                        img(src="images/logo5.svg" alt="logo" width="72" height="34" loading="lazy")
            .testimonials-wrap.visible-tablet
                h2 Отзывы о работе<br/> с Advideo
                .testimonials-frame
                    .testimonials-slider
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-1(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-1") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-1") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-2(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-2") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-2") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-3(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-3") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-3") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-4(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-4") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-4") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само по&#160;себе монетизируется...»
                                    input#show-more-slide-5(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-5") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-5") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-6(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-6") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после
                                        label.show-more-label.opened-slide(for="show-more-slide-6") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
            .caption.has-side-indent
                h2 Мы всегда готовы вам помочь
                p.small-text По любым вопросам обращайтесь ежедневно с 10:00 до 22:00 по МСК
            .members-row
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img4.webp" type="image/webp")
                            source(srcset="images/img4.jpg" type="image/jpg")
                            img(src="images/img4.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Александра
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img5.webp" type="image/webp")
                            source(srcset="images/img5.jpg" type="image/jpg")
                            img(src="images/img5.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Дмитрий
                    //replace class .active with class .inactive to apply styles for inactive user
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
            .accordion-frame
                .caption-has-btn
                    h2.small-h2 Остались вопросы?
                    a.btn.has-arrow.visible-tablet(href="" + static_link) Все вопросы
                input#radio-slide1(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide1").accordion-opener Как зарегистироваться в сервисе?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide2(type="checkbox" name="accordion" checked)
                .accordion-row
                    label(for="radio-slide2").accordion-opener Сколько нужно денег для запуска рекламной кампании?
                    .slide
                        p Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете.
                input#radio-slide3(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide3").accordion-opener Какие виды товаров можно рекламировать?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide4(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide4").accordion-opener Какая модель оплаты?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide5(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide5").accordion-opener Как зарегистироваться в сервисе?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                a.btn.has-arrow.hidden-tablet(href="" + static_link) Все вопросы
        .purple-banner
            .container
                h2.small-h2 От регистрации до подключения рекламы 10 минут
                a.btn.lg-btn(href="" + static_link)
                    span.visible-tablet Монетизировать сайт
                    span.hidden-tablet Запустить рекламу
                span.help-text Есть вопросы? Звоните:
                span.tel
                    img.icon(src="images/tel.svg" alt="icon" width="17" height="17" loading="lazy")
                    a(href="" + 'tel:88005009163') 8 (800) 500-91-63