extends layouts/base_tabs

block title
    - var currentPage = "video_adv"
    title Jomp

block main
    #main
        .format-tabs.secondary
            .container
                .caption
                    h2.small-h2 Форматы видеорекламы на сайтах
                input#format-tab-1(type="radio" name="format-tab" checked)
                label.format-tab-label(for="format-tab-1") Intop
                input#format-tab-2(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-2") Autoplay
                input#format-tab-3(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-3") Inpage
                .tab-content
                    .tab-slide#video-player
                        .top-block
                            strong.heading Реклама над шапкой сайта
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img16-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-block
                        .top-block
                            strong.heading Реклама в видеороликах
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img13-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img16-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-library
                        .top-block
                            strong.heading Рклама на страницах сайтов
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img15-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img16-gray.svg" alt="image" width="484" height="615")