extends layouts/base_tabs

block title
    - var currentPage = ""
    title Jomp

block main
    #main
        .format-tabs
            .container
                .caption
                    h2.small-h2 Три уникальных формата <br/> для монетизации сайта
                input#format-tab-1(type="radio" name="format-tab" checked)
                label.format-tab-label(for="format-tab-1") Реклама <br class="hidden-tablet"/> в видеоплеер
                input#format-tab-2(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-2") Рекламный <br class="hidden-tablet"/> видеоблок
                input#format-tab-3(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-3")
                    span.visible-tablet Лицензионная видеотека
                    span.hidden-tablet Лицензион. видеотека
                .tab-content
                    .tab-slide#video-player
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img13-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-block
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img15-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-library
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img14-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")