extends layouts/base

block title
    - var currentPage = "video_adv"
    title Jomp

block main
    #main
        .container
            .banner.inner-banner
                .banner-holder
                    .img-col
                        img(src="images/banner-img2.svg" alt="image" width="366" height="311" loading="lazy")
                    .banner-text-col
                        h1 Инвентарь для запуска онлайн-видеорекламы
                        p Платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование.
                        .banner-buttons
                            button.btn.has-shadow.md-btn Запустить рекламу
                            button.btn-has-triangle Как это работает
                ul.checkmarck-list
                    li Еженедельный вывод
                    li Любая посещаемость
                    li Подключение за 5 минут
            .caption
                h2 Как запустить видеорекламу?
            ul.steps-list.secondary
                li
                    span.step-number ШАГ 1
                    span.circle
                    strong.step-title Регистрируетесь в системе
                    span И загружаете ролик в личном кабинете
                li
                    span.step-number ШАГ 2
                    span.circle
                    strong.step-title Мы проводим бесплатный тест
                    span Для утверждения статистики по показам и рекламным форматам
                li
                    span.step-number ШАГ 3
                    span.circle
                    strong.step-title Заключаем договор на количество показов
                    span Вносите бюджет и запускаемся
            h2.small-h2.mob-centered  Единая рекламная<br/> видеосеть
            ul.tile-list
                li
                    .icon
                        img(src="images/icon12.svg" alt="image" width="36" height="46" loading="lazy")
                    strong.title Стабильно без сбоев
                    p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                li
                    .icon
                        img(src="images/icon13.svg" alt="image" width="50" height="50" loading="lazy")
                    strong.title Максимальны охват
                    p Выплачиваем вовремя, каждый понедельник. Без задержек и скрытых условий.
                li
                    .icon
                        img(src="images/icon14.svg" alt="image" width="50" height="38" loading="lazy")
                    strong.title Удобно и эффективно
                    p Выбор аудитории и моделей оплаты для бережливых рекламодателей в функциональном личном кабинете.
                li
                    .icon
                        img(src="images/icon15.svg" alt="image" width="51" height="50" loading="lazy")
                    strong.title
                        span.hidden-tablet Лицензионная видеотека
                        span.visible-tablet Дружелюбная<br/> поддержка
                    p.hidden-tablet Бесплатная видеотека с лицензионными фильмами и сериалами для размещения на сайте с более, чем 25 000 проектов.
                    p.visible-tablet Только брендинговая реклама продуктов и услуг от крупнейших правообладателей на РФ трафик.
                li
                    .icon
                        img(src="images/icon16.svg" alt="image" width="38" height="43" loading="lazy")
                    strong.title Без лишних разговоров
                    p Бесплатная видеотека  с лицензионными фильмами и сериалами для размещения на сайте с более, чем 25 000 проектов.
                li
                    .icon
                        img(src="images/icon17.svg" alt="image" width="51" height="44" loading="lazy")
                    strong.title Система все сделает за вас
                    p Реклама и рекламные плееры соответствуют всем требованиям поисковых систем и браузеров, не отпугивая посетителей сайта.
            .caption
                h2 Возможности <br class="visible-tablet"/> рекламы с&#160;Advideo
            .two-column-frame.secondary
                .row
                    .col
                        .text
                            strong.subtitle АНАЛИТИКА
                            h3 Детальная аналитика ваших&#160;рекламных кампаний
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    .col
                        .scroll-img
                            picture
                                source(srcset="images/img13.webp" type="image/webp")
                                source(srcset="images/img13.png" type="image/png")
                                img(src="images/img13.webp" alt="image" width="625" height="503" loading="lazy")
                .row
                    .col
                        .text
                            strong.subtitle НАСТРОЙКА ПОКАЗОВ
                            h3 Гибкая настройка показов&#160;видеорелкамы
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    .col
                        .scroll-img
                            picture
                                source(srcset="images/img14.webp" type="image/webp")
                                source(srcset="images/img14.png" type="image/png")
                                img(src="images/img14.webp" alt="image" width="644" height="582" loading="lazy")
                .row
                    .col
                        .text
                            strong.subtitle УПРАВЛЕНИЕ СТАВКАМИ и ИБЮДЖЕТОМ
                            h3 Оптимизируйте расход и&#160;интенсивность показов
                            p Рассказываем, как оптимизировать рекламу, получать больше клиентов и максимальны ROI на рекламный бюджет.
                    .col
                        .scroll-img
                            picture
                                source(srcset="images/img15.webp" type="image/webp")
                                source(srcset="images/img15.png" type="image/png")
                                img(src="images/img15.webp" alt="image" width="535" height="411" loading="lazy")
        .format-tabs.secondary
            .container
                .caption
                    h2.small-h2 Форматы видеорекламы на сайтах
                input#format-tab-1(type="radio" name="format-tab" checked)
                label.format-tab-label(for="format-tab-1") Intop
                input#format-tab-2(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-2") Autoplay
                input#format-tab-3(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-3") Inpage
                .tab-content
                    .tab-slide#video-player
                        .top-block
                            strong.heading Реклама над шапкой сайта
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img16-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-block
                        .top-block
                            strong.heading Реклама в видеороликах
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img13-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img16-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-library
                        .top-block
                            strong.heading Рклама на страницах сайтов
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img15-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img16-gray.svg" alt="image" width="484" height="615")
        .container
            .partner-logo-frame
                h3 Рекламные партнеры <br/> Advideo
                ul.logo-list
                    li
                        img(src="images/logo1.svg" alt="logo" width="100" height="44" loading="lazy")
                    li
                        img(src="images/logo2.svg" alt="logo" width="175" height="30" loading="lazy")
                    li
                        img(src="images/logo3.svg" alt="logo" width="108" height="33" loading="lazy")
                    li
                        img(src="images/logo4.svg" alt="logo" width="48" height="51" loading="lazy")
                    li
                        img(src="images/logo5.svg" alt="logo" width="72" height="34" loading="lazy")
            .testimonials-wrap.visible-tablet
                h2 Отзывы о работе<br/> с Advideo
                .testimonials-frame
                    .testimonials-slider
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-1(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-1") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-1") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-2(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-2") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-2") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само  по&#160;себе монетизируется...»
                                    input#show-more-slide-3(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-3") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-3") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-4(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-4") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-4") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Отпал и насущный вопрос с контролем  рекламы, всё легко из кабинета само по&#160;себе монетизируется...»
                                    input#show-more-slide-5(type="checkbox")
                                    p «Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-5") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после»
                                        label.show-more-label.opened-slide(for="show-more-slide-5") Скрыть
                                    cite
                                        .logo-box(style="background-color: #31333F;")
                                            img(src="images/bazr.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Онлайн-кинотеартр
                                            span.site Bazr.ru
                        div
                            .slide-holder
                                blockquote
                                    h4 «Используем оба формата и&#160;Intop, и&#160;Inpage, получая доход с&#160;рекламодателей...»
                                    input#show-more-slide-6(type="checkbox")
                                    p Мы транслировали многие фильмы и сериалы с непровереных сайтов из за чего надо было следить и за переводами, и удалено видео или нет, еще и вечный высокий % отказов бил по прибыли.
                                        span.dots ...
                                        label.show-more-label.closed-slide(for="show-more-slide-6") Показать полностью
                                    p.mob-hidden-block Наткнувшись на партнерку Advideo для кинотеатров, сделали тестовый раздел после
                                        label.show-more-label.opened-slide(for="show-more-slide-6") Скрыть
                                    cite
                                        .logo-box(style="background-color: #AAD0EB;")
                                            img(src="images/dme.svg" alt="image" width="63" height="30" loading="lazy")
                                        .name
                                            span Финансово-деловой дайджетс
                                            span.site Dailymoneyexpert.ru
            .caption.has-side-indent
                h2 Мы всегда готовы вам помочь
                p.small-text По любым вопросам обращайтесь ежедневно с 10:00 до 22:00 по МСК
            .members-row
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img4.webp" type="image/webp")
                            source(srcset="images/img4.jpg" type="image/jpg")
                            img(src="images/img4.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Александра
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
                .members-col
                    .member-img
                        picture
                            source(srcset="images/img5.webp" type="image/webp")
                            source(srcset="images/img5.jpg" type="image/jpg")
                            img(src="images/img5.webp" alt="image" width="217" height="236" loading="lazy")
                    strong.name Дмитрий
                    //replace class .active with class .inactive to apply styles for inactive user
                    span.status.active Сейчас онлайн
                    ul.contact-list
                        li
                            img.icon(src="images/email.svg" alt="icon" width="25" height="19" loading="lazy")
                            a(href="" + 'mailto:&#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;') &#097;&#108;&#101;&#107;&#115;&#097;&#110;&#100;&#114;&#097;&#064;&#097;&#100;&#118;&#105;&#100;&#101;&#111;&#046;&#114;&#117;
                        li
                            img.icon(src="images/icon3.svg" alt="icon" width="26" height="26" loading="lazy")
                            a(href="" + static_link) aleksandra_skype
                        li
                            img.icon(src="images/telegram.svg" alt="icon" width="25" height="25" loading="lazy")
                            a(href="" + static_link) aleksandra_telegram
            .accordion-frame
                .caption-has-btn
                    h2.small-h2 Остались вопросы?
                    a.btn.has-arrow.visible-tablet(href="" + static_link) Все вопросы
                input#radio-slide1(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide1").accordion-opener Как зарегистироваться в сервисе?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide2(type="checkbox" name="accordion" checked)
                .accordion-row
                    label(for="radio-slide2").accordion-opener Сколько нужно денег для запуска рекламной кампании?
                    .slide
                        p Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете.
                input#radio-slide3(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide3").accordion-opener Какие виды товаров можно рекламировать?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide4(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide4").accordion-opener Какая модель оплаты?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                input#radio-slide5(type="checkbox" name="accordion")
                .accordion-row
                    label(for="radio-slide5").accordion-opener Как зарегистироваться в сервисе?
                    .slide
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere harum ducimus quasi, accusantium maiores nisi laudantium quos eligendi adipisci, quae, odit enim reprehenderit consectetur perspiciatis non. Debitis at, cum eveniet!
                a.btn.has-arrow.hidden-tablet(href="" + static_link) Все вопросы
        .purple-banner
            .container
                h2.small-h2.hidden-tablet От регистрации до подключения рекламы 10 минут
                h2.small-h2.visible-tablet От регистрации до запуска не более 5 минут
                a.btn.lg-btn(href="" + static_link)
                    span.visible-tablet Монетизировать сайт
                    span.hidden-tablet Запустить рекламу
                span.help-text Есть вопросы? Звоните:
                span.tel
                    img.icon(src="images/tel.svg" alt="icon" width="17" height="17" loading="lazy")
                    a(href="" + 'tel:88005009163') 8 (800) 500-91-63