doctype html
html
    head
        block title
            title #{title}
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
        link(rel="preload" as="style" media="all" href="css/header.css" onload="this.rel='stylesheet'")
        link(rel="preload" as="style" media="all" href="css/critical.css" onload="this.rel='stylesheet'")
        link(rel="stylesheet" media="all" href="css/all.css")
    body
        #wrapper
            .w1
                block header
                    include header.pug
                block main
            block footer
                include footer.pug
        block page_scripts
            script(src="js/jquery-3.1.1.min.js")
            //<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
            //<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>
            script(src="js/jquery.plugins.min.js")
            script(src="js/jquery.main.js")
