doctype html
html
    head
        block title
            title #{title}
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" media="all" href="css/all.css")
    body
        #wrapper
            .w1
                block main
        block page_scripts
