footer#footer
    .container
        .top-section
            .large-col
                .logo-col.visible-tablet
                    a(href="" + PrimaryNavItems.menu_home.url).logo
                            img(src="images/Logo.svg" alt="Jomp" width="53" height="51")
                    strong.company-name ООО “Jomp”
                    address Cанкт-Петербург, ул. Типанова 38
                .list-holder
                    .list-col
                        strong.footer-title Продукты
                        ul.footer-list
                            li
                                a(href="" + static_link) Видеореклама
                            li
                                a(href="" + static_link) Реклама на билбордах
                            li
                                a(href="" + static_link) Площадкам
                    .list-col
                        strong.footer-title Информация
                        ul.footer-list
                            li
                                a(href="" + static_link) Правила участия
                            li
                                a(href="" + static_link) Платежи
                            li
                                a(href="" + static_link) Партнерская программа
                            li
                                a(href="" + static_link) Правообладателям
                    .list-col
                        strong.footer-title Компания
                        ul.footer-list
                            li
                                a(href="" + static_link) О проекте
                            li
                                a(href="" + static_link) Контакты
            .small-col
                .contact-row
                    .icon
                        img(src="images/icon4.svg" alt="Jomp" width="46" height="37")
                    strong.title.hidden-tablet Служба поддержки
                    ul.footer-contact-list
                        li
                            a.tel(href="" + 'tel:88126400835') 8 (812) 640-08-35
                        li
                            a.email(href="" + 'mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#106;&#111;&#109;&#112;&#046;&#114;&#117;') &#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#106;&#111;&#109;&#112;&#046;&#114;&#117;
                ul.social-networks
                    li
                        a(href="" + static_link)
                            img(src="images/icon-vk.svg" alt="vk" width="16" height="9")
                    li
                        a(href="" + static_link)
                            img(src="images/icon-instagram.svg" alt="instagram" width="15" height="15")
                    li
                        a(href="" + static_link)
                            img(src="images/icon-facebook.svg" alt="facebook" width="14" height="14")
        .bottom-section
            .address-row.hidden-tablet
                strong.name ООО “Jomp”
                address Cанкт-Петербург, ул. Типанова 38
            span.copyright &#169; 2020 — Jomp
            ul.footer-bottom-list
                li
                    a(href="" + static_link) Политика конфиденциальности
                li
                    a(href="" + static_link) Лицензионный договор