header#header
    .container
        .logo-holder
            a(href="" + PrimaryNavItems.menu_home.url).logo
                img(src="images/Logo.svg" alt="Jomp" width="53" height="51")
            a.nav-opener(href="" + static_link)
        nav#nav
            .menu-holder
                ul.menu
                    each page, key in PrimaryNavItems
                        if currentPage === key
                            li(class="active")
                                a(href= page.url)= page.label
                        else
                            li
                                a(href= page.url)= page.label
                    li.popup-holder
                        a.opener Еще
                        ul.popup
                            li
                                a(href="" + static_link) FAQ
                            li
                                a(href="" + static_link) О проекте
                            li
                                a(href="" + static_link) Партнерская программа
                            li
                                a(href="" + static_link) Платежи
                            li
                                a(href="" + static_link) Правила участия
                            li
                                a(href="" + static_link) Контакты
                .nav-menu-buttons
                    button.btn(type="button") Зарегистрироваться
                    p
                        button.text-btn(type="button") Войти
        .registration-buttons
            button.text-btn(type="button") Вход
            button.btn(type="button") Регистрация